.avatar {
  @apply flex-none flex items-center justify-center rounded-md bg-cool-grey-200 text-cool-grey-600 dark:bg-dark-grey-300 dark:text-white/50 font-medium font-sans transition-all overflow-hidden;
}

.avatar img {
  height: inherit;
  width: inherit;
}

.avatar.loading {
  @apply bg-cool-grey-400 dark:bg-dark-grey-400 animate-pulse;
}
