.badge { 
  @apply border flex gap-1.5 items-center leading-none shrink-0 grow-0;
}

.badge.sm {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.2px;
  @apply px-2 py-0.5;
}

.badge.md {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.2px;
  @apply px-2 py-0.5;
}

.badge.lg {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.2px;
  @apply px-3 py-1;
}

.badge.default {
  @apply font-sans rounded-full;
}

.badge.code {
  @apply font-mono rounded-md;
}

.badge.neutral {
  @apply bg-cool-grey-50 text-dark-grey-950 dark:bg-dark-grey-200 dark:text-white;
}

.badge.success {
  @apply bg-green-100/50 text-green-800 border-green-400 dark:bg-green-950/15 dark:border-green-500/40 dark:text-green-500;
}

.badge.warn {
  @apply bg-orange-100/50 text-orange-800 border-orange-400 dark:bg-orange-950/15 dark:border-orange-500/40 dark:text-orange-500;
}

.badge.error {
  @apply bg-red-100/50 text-red-800 border-red-300 dark:bg-red-950/15 dark:border-red-500/40 dark:text-red-500;
}

.badge.info {
  @apply bg-blue-100/50 text-blue-800 border-blue-400 dark:bg-blue-950/15 dark:border-blue-500/40 dark:text-blue-500;
}
