@media (prefers-color-scheme: light) {
  button:not(.ghost):not(.primary) {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  }

  button.primary {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.12) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  }
}

@media (prefers-color-scheme: dark) {
  button:not(.ghost):not(.primary) {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40);
  }

  button.primary {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.12) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.40);
  }
}

button {
  font-family: var(--font-inter);
  font-weight: 500;
  letter-spacing: -0.2px;
  transition: background-color 100ms ease-in-out;
}

button:focus {
  outline: 1px solid currentColor;
}

button:disabled {
  cursor: not-allowed;
}

button.lg {
  font-size: 14px;
  height:36px;
  line-height: 21px;
  @apply px-3 py-1
}


button.md {
  font-size: 14px;
  height:32px;
  line-height: 21px;
  @apply px-3 py-1
}

button.sm {
  font-size: 10px;
  height: 24px;
  line-height: 15px;
  @apply px-2 py-0.5
}

button.xs {
  font-size: 10px;
  height: 16px;
  line-height: 15px;
}

/* danger variant  */
button.danger {
  @apply border rounded-md bg-white dark:bg-dark-grey-100 text-red-800 dark:text-red-500
}

button.danger:not(:disabled):hover {
  @apply bg-red-50 dark:bg-red-600/10 text-red-800 dark:text-red-500
}

button.danger:focus {
  @apply outline-red-400 dark:outline-red-500/50 bg-white dark:bg-dark-grey-100 text-red-800 dark:text-red-500
}

button.danger:not(:disabled):active {
  @apply outline-red-400 dark:outline-red-500/50 bg-red-100 dark:bg-red-600/15 text-red-800 dark:text-red-500
}

button.danger:disabled {
  @apply opacity-50
}

/* primary variant */
button.primary {
  @apply border-none rounded-md bg-primary-600 text-white
}

button.primary:not(:disabled):hover {
  @apply bg-primary-700
}

button.primary:focus {
  @apply outline-primary-400/80 bg-primary-600
}

button.primary:not(:disabled):active {
  @apply outline-primary-400/80 bg-primary-900
}

button.primary:disabled {
  @apply opacity-50
}

/* ghost variant */
button.ghost {
  @apply border-none rounded-md bg-inherit
}

button.ghost:not(:disabled):hover {
  @apply bg-cool-grey-50 dark:bg-white/10
}

button.ghost:focus {
  @apply outline-primary-400/80 bg-cool-grey-50 dark:bg-white/10
}

button.ghost:not(:disabled):active {
  @apply bg-cool-grey-100 dark:bg-white/15
}

button.ghost:disabled {
  @apply opacity-50 
}

/* secondary variant */
button.secondary {
  @apply border rounded-md bg-white dark:bg-dark-grey-300;
}

button.secondary:not(:disabled):hover {
  @apply bg-cool-grey-50 dark:bg-white/10
}

button.secondary:focus {
  @apply outline-primary-400/80 bg-cool-grey-50 dark:bg-white/10
}

button.secondary:not(:disabled):active {
  @apply bg-cool-grey-100 dark:bg-white/15
}

button.secondary:disabled {
  @apply opacity-50
}
