.dropdown {
  --ease: cubic-bezier(0.65, 0, 0.35, 1);
  --speed: 150ms;
  @apply relative inline-block text-left leading-none;
}

.dropdown button.dropdown-trigger {
  @apply flex items-center justify-between gap-2 h-fit focus:outline-primary-400/80;
}

.dropdown .dropdown-content {
  z-index: 1000;
  @apply absolute border divide-y rounded-md shadow-md outline-none bg-white dark:bg-dark-grey-100 w-fit outline-offset-0 outline-1 outline-primary-400/10;
}

.dropdown .dropdown-content.left:not(.beside) {
  @apply left-0;
} 

.dropdown .dropdown-content.right:not(.beside) {
  @apply right-0;
}

/*
  below
*/
.dropdown .dropdown-content.below {
  @apply mt-2;
}

.dropdown .dropdown-content.below.enter {
  animation: enter-below var(--speed) var(--ease);
}

.dropdown .dropdown-content.below.exit {
  animation: exit-below var(--speed) var(--ease);
}

@keyframes enter-below {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit-below {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

/*
  above
*/
.dropdown .dropdown-content.above {
  @apply bottom-full mb-2;
}

.dropdown .dropdown-content.above.enter {
  animation: enter-above var(--speed) var(--ease);
}

.dropdown .dropdown-content.above.exit {
  animation: exit-above var(--speed) var(--ease);
}

@keyframes enter-above {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit-above {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

/*
  beside
*/
.dropdown .dropdown-content.beside {
  @apply top-0;
}

/*
  beside left
*/
.dropdown .dropdown-content.beside.left {
  @apply right-full mr-2;
}

.dropdown .dropdown-content.beside.left.enter {
  animation: enter-beside-left var(--speed) var(--ease);
}

.dropdown .dropdown-content.beside.left.exit {
  animation: exit-beside-left var(--speed) var(--ease);
}

@keyframes enter-beside-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-beside-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-1rem);
  }
}

/*
  beside right
*/
.dropdown .dropdown-content.beside.right {
  @apply left-full ml-2;
}

.dropdown .dropdown-content.beside.right.enter {
  animation: enter-beside-right var(--speed) var(--ease);
}

.dropdown .dropdown-content.beside.right.exit {
  animation: exit-beside-right var(--speed) var(--ease);
}

@keyframes enter-beside-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-beside-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(1rem);
  }
}

/*
  overlay
*/
.dropdown .dropdown-content.overlay {
  @apply top-0;
}

.dropdown .dropdown-content.overlay.enter {
  animation: enter-overlay var(--speed) var(--ease);
}

.dropdown .dropdown-content.overlay.exit {
  animation: exit-overlay var(--speed) var(--ease);
}

@keyframes enter-overlay {
  0% {
    opacity: 0;
    translate: 0 -0.5rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes exit-overlay {
  0% {
    opacity: 1;
    translate: 0 0;
  }
  100% {
    opacity: 0;
    translate: 0 -0.5rem;
  }
}
