.link {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  @apply transition-colors w-fit; 
}

.logo-link:focus-visible,
.link:focus-visible {
  @apply outline outline-1 outline-offset-0 outline-primary-400/80 rounded px-0.5;
}

.link.default {
  @apply text-primary-600 dark:text-primary-500;
}

.link.default:hover,
.link.default:focus {
  @apply text-primary-800 dark:text-primary-400;
}

.link.default:active {
  @apply text-primary-900 dark:text-primary-600;
}

.link.ghost {
  @apply px-3 py-1 border-none rounded-md bg-inherit align-middle;
}

.link.ghost:hover {
  @apply bg-cool-grey-50 dark:bg-white/10;
}

.link.ghost:focus,
.link.ghost:focus-visible {
  @apply outline-1 outline-offset-0 outline-primary-400/80 bg-cool-grey-50 dark:bg-white/10;
}

.link.ghost:active {
  @apply bg-cool-grey-100 dark:bg-white/15
}

.link.nav {
  font-family: var(--font-inter);
  font-size: 14px;
  height: 36px;
  line-height: 21px;
  letter-spacing: -0.2px;
  @apply flex items-center gap-4 overflow-hidden rounded-md py-2.5 px-3 transition-colors w-full;
}

.link.nav:hover {
  @apply bg-black/5 dark:bg-white/10;
}

.link.nav.active {
  @apply text-primary-800 dark:text-primary-400 bg-primary-200 dark:bg-primary-600/25;
}

.link.nav.inactive {
  @apply text-cool-grey-800 dark:text-cool-grey-400;
}


.link.breadcrumb {
  text-wrap: nowrap;
  word-break: keep-all;
}

.link.breadcrumb.active {
  @apply text-primary-600 dark:text-primary-400;
}

.link.breadcrumb.inactive {
  @apply text-cool-grey-600 dark:text-cool-grey-400;
}

.link.breadcrumb:hover {
  @apply text-primary-800 dark:text-primary-300;
}
