.menu {
  @apply flex flex-col p-2 gap-0.5;
}

.menu .ghost,
.menu .dropdown-trigger.ghost {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 500;
  height: 28px;
  letter-spacing: -0.2px;
  line-height: 21px;
  transition: background-color 100ms cubic-bezier(0.65, 0, 0.35, 1);
  @apply flex items-center justify-between text-left p-2 gap-2 w-full;
}

.menu button.ghost:focus,
.menu a.ghost:focus,
.menu .dropdown-trigger.ghost:focus {
  @apply outline-primary-400/80;
}

.menu .ghost svg {
  @apply w-4 h-4;
}

.menu span.label {
  @apply px-1.5 py-1;
}

.menu hr {
  @apply my-1;
}
