.sans {
  font-family: var(--font-inter);
}

.mono {
  font-family: var(--font-hack);
}

.h1 { 
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.8px; 
}

.h2 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.8px; 
}

.h3 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.8px;  
}

.h1.mono,
.h2.mono
.h3.mono {
  letter-spacing: -0.2px;
}

.base {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.body {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.subtext {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.2px;
}

.label { 
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.2px;
}

/* font weight */
.normal {
  font-weight: 400;
}
 
.strong {
  font-weight: 500;
}

.stronger {
  font-weight: 600;
}

