@media (prefers-color-scheme: light) {
  .tooltip-content {
    --bg-color: #1B242C;
    --tx-color: #FFF;
  }
}

@media (prefers-color-scheme: dark) {
  .tooltip-content {
    --bg-color: #FFF;
    --tx-color: #1B242C
  }
}

.tooltip-wrapper {

}

.tooltip-content {
  --ease: cubic-bezier(0.65, 0, 0.35, 1);
  --speed: 150ms;
  
  background-color: var(--bg-color);
  color: var(--tx-color);
  z-index: 1000;
  
  @apply absolute flex px-2 py-1 rounded-md shadow-md;
}

/* tooltip enter / exit animations */
.tooltip-content.enter {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--speed) var(--ease), translate var(--speed) var(--ease);
  translate: 0 0;
}

.tooltip-content.exit {
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--speed) var(--ease), translate var(--speed) var(--ease), visibility 0s var(--ease) var(--speed);
}
 
.tooltip-content.top.exit {
  translate: 0 -0.5rem;
}

.tooltip-content.bottom.exit {
  translate: 0 0.5rem;
}

.tooltip-content.right.exit {
  translate: 0.5rem 0;
}

.tooltip-content.left.exit {
  translate: -0.5rem 0;
}

/* tooltip arrow point */
.tooltip-content::after {
  content: '';
  position: absolute;
  border-width: 0.35rem;
  border-style: solid;
}

.tooltip-content.top::after {
  bottom: -0.6rem;
  left: 50%;
  translate: -50%;
  border-color: var(--bg-color) transparent transparent transparent;
}

.tooltip-content.bottom::after {
  top: -0.6rem;
  left: 50%;
  translate: -50%;
  border-color: transparent transparent var(--bg-color) transparent;
}

.tooltip-content.right::after {
  left: -0.6rem;
  top: 50%;
  translate: 0 -50%;
  border-color: transparent var(--bg-color) transparent transparent;
}

.tooltip-content.left::after {
  right: -0.6rem;
  top: 50%;
  translate: 0 -50%;
  border-color: transparent transparent transparent var(--bg-color);
}

/* invert color schema */
.tooltip-content .link.default {
  @apply dark:text-primary-600 text-primary-500;
}

.tooltip-content .link.default:hover,
.tooltip-content .link.default:focus {
  @apply dark:text-primary-800 text-primary-400;
}

.tooltip-content .link.default:active {
  @apply dark:text-primary-900 text-primary-600;
}

.tooltip-content .muted {
  @apply dark:text-cool-grey-600 text-white/70;
}

.tooltip-content .highlighted {
  @apply dark:text-blue-800 text-blue-600;
}
