.timeline {
  @apply flex flex-col;
}

.timeline-events {
  @apply flex flex-col w-full;
}

.timeline-events .timeline-event {
  @apply flex py-4 gap-6 relative w-full items-start;
}

.timeline-events .timeline-event .status {
  @apply relative z-10;
}

.timeline-events .timeline-event:before {
  --icon-size: 0.813rem;
  --padding-size: 1.5rem;
  border-left-width: 1px;
  border-left-style: solid;
  content: '';
  height: 100%;
  left: var(--icon-size);
  position: absolute;
  width: 1px;
  top: 0;
}

.timeline-events .timeline-event:first-child:before {
  height: calc(100% - var(--padding-size));
  top: var(--padding-size)
}

.timeline-events .timeline-event:last-child:before {
  height: var(--padding-size);
}
