.select .select-options.enter {
  animation: enter-below var(--duration-fastest) var(--ease-cubic);
}

.select .select-options.exit {
  animation: exit-below var(--duration-fastest) var(--ease-cubic);
}

@keyframes enter-below {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit-below {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}
