name       = "helm_chart"
type       = "helm_chart"
chart_name = "retool"

namespace = "{{.nuon.install.id}}-test"
storage_driver = "configmap"

drift_schedule = "0 * * * *"
# define a dependency directly, if you do not use any outputs from it.
dependencies = ["toml_docker_build", "container_image", "toml_terraform_s3"]

[connected_repo]
directory = "charts/helm_configmap"
repo = "powertoolsdev/mono"
branch = "main"

[[values_file]]
contents = "./values.yaml"

[values]
"config.postgresql.host"    = "localhost"
"image.repository"          = "tryretool/retool"
"image.tag"                 = "latest"
"config.useInsecureCookies" = "true"
"input-test" = "{{.nuon.inputs.inputs.string_type}}"
"comp-test" = "{{.nuon.components.container_image.outputs.image.tag}}"
"install-stack-test" = "{{.nuon.install_stack.outputs.region}}"
"sandbox-test" = "{{.nuon.sandbox.outputs.account.region}}"
"terraform-test" = "{{.nuon.components.toml_terraform_s3.outputs.region}}"
"terraform-foo" = "bar"
"terraform-bar" = "foo"
