---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: write
  id-token: write
  issues: read
  packages: write
  pull-requests: write
  statuses: write
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      # PR title lint
      - name: Lint pull request title
        if: github.event_name == 'pull_request'
        uses: jef/conventional-commits-pr-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
      - name: Init terraform
        if: always()
        shell: bash
        working-directory: infra
        run: |
          terraform init -backend=false
      # reviewdog
      - name: Lint
        if: always()
        uses: powertoolsdev/action-reviewdog@main
        with:
          terraform_dir: infra
      - name: Update status
        uses: ouzi-dev/commit-status-updater@v2.0.1
        with:
          name: Required CI Checks
          status: success
