---
name: sandboxes
"on":
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  issues: read
  packages: write
  pull-requests: write
concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true


jobs:
  validate:
    strategy:
      matrix:
        sandbox: [empty, aws-eks]
    name: Validate sandbox
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2

      - name: Init terraform
        if: always()
        shell: bash
        working-directory: ${{matrix.sandbox}}
        run: |
          terraform init -backend=false

      # reviewdog
      - name: Lint
        if: always()
        uses: powertoolsdev/action-reviewdog@main
        with:
          terraform_dir: ${{matrix.sandbox}}

  release:
    name: Release
    strategy:
      matrix:
        sandbox: [empty, aws-eks]
    needs:
      - validate
    if: github.event_name != 'pull_request'
    env:
      TF_OUT: ${{ github.workspace }}/tf-out.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Determine next version
        id: semver
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ${{matrix.sandbox}}_
          dry_run: true

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_KEY }}

      - name: Get terraform outputs
        shell: bash
        working-directory: infra
        run: |
          terraform init
          terraform-bin output -json > ${{ env.TF_OUT }}

      - name: Parse output
        uses: powertoolsdev/action-tf-output@main
        with:
          file: ${{ env.TF_OUT }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ env.TFO_GH_ROLE_ARN }}
          aws-region: ${{ env.TFO_REGION }}

      - name: Create artifact
        uses: a7ul/tar-action@v1.1.3
        with:
          command: c
          cwd: ${{ matrix.sandbox }}
          files: |
            .
          outPath: /tmp/sandbox.tar.gz

      - name: Push artifact to s3
        run: >-
          aws
          s3
          cp
          /tmp/sandbox.tar.gz
          ${{ env.TFO_SANDBOXES_URL }}/${{ matrix.sandbox }}_${{ steps.semver.outputs.new_version }}.tar.gz

      - name: Tag repository
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ${{matrix.sandbox}}_

      - name: Update slack
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_MESSAGE: 'Successfully released *sandbox-${{matrix.sandbox}}* :white_check_mark: - `v${{steps.semver.outputs.new_version}}`'
          SLACK_TITLE: 'Sandbox release :airplane:'
          SLACK_USERNAME: 'Deploys'
          SLACK_ICON: "[icon URL]"
          SLACK_COLOR: '#228B22'
          SLACK_WEBHOOK: ${{ secrets.STAGE_DEPLOYS_SLACK_WEBHOOK_URL }}
          MSG_MINIMAL: true
