basePath: /
definitions:
  app.App:
    properties:
      created_at:
        type: string
      created_by_id:
        type: string
      id:
        type: string
      name:
        type: string
      org_id:
        type: string
      sandbox_release:
        $ref: '#/definitions/app.SandboxRelease'
      status:
        type: string
      status_description:
        type: string
      updated_at:
        type: string
    type: object
  app.Org:
    properties:
      created_at:
        type: string
      created_by_id:
        type: string
      id:
        type: string
      name:
        type: string
      status:
        type: string
      status_description:
        type: string
      updated_at:
        type: string
      users:
        items:
          $ref: '#/definitions/app.UserOrg'
        type: array
      vcs_connections:
        items:
          $ref: '#/definitions/app.VCSConnection'
        type: array
    type: object
  app.Sandbox:
    properties:
      created_at:
        type: string
      created_by_id:
        type: string
      description:
        type: string
      id:
        type: string
      name:
        type: string
      releases:
        items:
          $ref: '#/definitions/app.SandboxRelease'
        type: array
      updated_at:
        type: string
    type: object
  app.SandboxRelease:
    properties:
      created_at:
        type: string
      created_by_id:
        type: string
      deprovision_policy_url:
        type: string
      id:
        type: string
      one_click_role_template_url:
        type: string
      provision_policy_url:
        type: string
      sandbox:
        $ref: '#/definitions/app.Sandbox'
      terraform_version:
        type: string
      trust_policy_url:
        type: string
      updated_at:
        type: string
      version:
        type: string
    type: object
  app.UserOrg:
    properties:
      created_at:
        type: string
      created_by_id:
        type: string
      id:
        type: string
      org:
        $ref: '#/definitions/app.Org'
      orgID:
        description: parent relationship
        type: string
      updated_at:
        type: string
      userID:
        type: string
    type: object
  app.VCSConnection:
    properties:
      created_at:
        type: string
      created_by_id:
        type: string
      github_install_id:
        type: string
      id:
        type: string
      updated_at:
        type: string
      vcs_connection_commit:
        items:
          $ref: '#/definitions/app.VCSConnectionCommit'
        type: array
    type: object
  app.VCSConnectionCommit:
    properties:
      author_email:
        type: string
      author_name:
        type: string
      component_config_connection_id:
        type: string
      created_at:
        type: string
      created_by_id:
        type: string
      id:
        type: string
      message:
        type: string
      sha:
        type: string
      updated_at:
        type: string
    type: object
  service.AdminCreateOrgUserRequest:
    properties:
      email:
        type: string
    type: object
  service.AdminDeleteOrgRequest:
    type: object
  service.ProvisionCanaryRequest:
    type: object
info:
  contact:
    email: support@nuon.co
    name: Nuon Support
  description: API for managing nuon apps and installs.
  title: Nuon API
  version: v1
paths:
  /v1/apps:
    get:
      consumes:
      - application/json
      description: get all apps
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.App'
            type: array
      summary: get all apps for all orgs
      tags:
      - apps/admin
  /v1/general/provision-canary:
    post:
      consumes:
      - application/json
      description: provision a canary
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.ProvisionCanaryRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
      summary: provision a canary
      tags:
      - general/admin
  /v1/orgs:
    get:
      consumes:
      - application/json
      description: return all orgs
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.Org'
            type: array
      summary: Return all orgs
      tags:
      - orgs/admin
  /v1/orgs/{org_id}/add-user:
    post:
      consumes:
      - application/json
      description: create a new org
      parameters:
      - description: org ID to add user too
        in: path
        name: org_id
        required: true
        type: string
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.AdminCreateOrgUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
      summary: Add a user to an org
      tags:
      - orgs/admin
  /v1/orgs/{org_id}/admin-delete:
    post:
      consumes:
      - application/json
      description: delete an org org
      parameters:
      - description: org ID for your current org
        in: path
        name: org_id
        required: true
        type: string
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.AdminDeleteOrgRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
      summary: delete an org and everything in it
      tags:
      - orgs/admin
  /v1/orgs/{org_id}/support-users:
    post:
      consumes:
      - application/json
      description: create a new org
      parameters:
      - description: org ID for your current org
        in: path
        name: org_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            type: string
      summary: Add nuon users as support members
      tags:
      - orgs/admin
  /v1/sandboxes:
    get:
      consumes:
      - application/json
      description: get all sandboxes
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.Sandbox'
            type: array
      summary: get all sandboxes
      tags:
      - sandboxes/admin
  /v1/sandboxes/{sandbox_id}:
    get:
      consumes:
      - application/json
      description: get a sandbox
      parameters:
      - description: sandbox ID
        in: path
        name: sandbox_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/app.Sandbox'
      summary: get a sandbox
      tags:
      - sandboxes/admin
  /v1/sandboxes/{sandbox_id}/releases:
    get:
      consumes:
      - application/json
      description: get sandbox releases
      parameters:
      - description: sandbox ID
        in: path
        name: sandbox_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.SandboxRelease'
            type: array
      summary: get sandbox releases
      tags:
      - sandboxes/admin
securityDefinitions:
  ApiKeyAuth:
    description: Bearer token to access the api from
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
