# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

.env
coverage/
node_modules/
dist/
bin/

# filter out deployment and infra
**/k8s/charts/
**/.terraform
**/terraform.tfvars
**/terraform.tfvars.json
**/config.*.tfbackend
**/tfplan
**/terraform.tfstate
**/terraform.tfstate.*

# Go files
# generated protobufs
pkg/types/**/**pb.go
pkg/types/**/**pb.validate.go
pkg/types/**/**connect.go
# generated mocks
*mock*.go
*_gen.go
go.work
.gen

# go debug binaries
__debug_bin
# Ignore earthly secret files
.secret
services/api-gateway/src/build/
pkg/types/build/
services/ctl-api/docs
pkg/api/client/client/
pkg/api/client/models/
