---
version: "3.9"

services:
  # postgres for the api
  postgres:
    build:
      context: ./images/postgres
      dockerfile: Dockerfile
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ctl_api
      POSTGRES_USER: ctl_api
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      PGDATA: /data/postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_EXTENSIONS: hstore
    volumes:
      - postgres:/data/postgres
    networks:
      - default

  # temporal for all workers + api
  temporal:
    build:
      context: ./images/temporalite
      dockerfile: Dockerfile
    ports:
      - 7233:7233
      - 8233:8233
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  postgres:
