---
version: "3.9"

services:
  # postgres for the api
  postgres:
    image: postgres:13.4-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: api
      POSTGRES_USER: ${POSTGRES_USER:-api}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      PGDATA: /data/postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres:/data/postgres
    networks:
      - default

  # temporal for all workers + api
  temporal:
    build:
      context: .
      dockerfile: Dockerfile.temporalite
    ports:
      - 7233:7233
      - 8233:8233
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  postgres:
