---
services:
  # postgres for the api
  postgres:
    build:
      context: ./images/postgres
      dockerfile: Dockerfile
    ports:
      - 5432:5432
    environment:
      POSTGRES_MULTIPLE_DATABASES: ctl_api, temporal, temporal_visibility
      POSTGRES_USER: ctl_api
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      PGDATA: /data/postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_EXTENSIONS: hstore
    volumes:
      - postgres:/data/postgres
    networks:
      - default

  # NOTE: when connecting to PSQL, set the host as either host.containers.internal (podman) or host.docker.internal
  # (docker)
  #
  # NOTE: since you can not set the connection to the ctl-api automatically, it must be set in the UI once you log in.
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: team@nuon.co
      PGADMIN_DEFAULT_PASSWORD: teamnuon
    volumes:
      - pgadmin:/var/lib/pgadmin
    networks:
      - default

  # temporal cli for dev server
  temporal:
    build:
      context: ./images/temporalcli
      dockerfile: Dockerfile
    ports:
      - 7233:7233
      - 8233:8233
    volumes:
      - /var/:/tmp/temporalcli
    networks:
      - default

  temporal-proxy:
    image: temporalio/ui:latest
    ports:
      - 8234:8080
    volumes:
      - /var/:/tmp/temporalcli
    networks:
      - default
    environment:
      # NOTE: if you are on docker and this does not work, change the following to:
      # host.docker.internal:7233
      TEMPORAL_ADDRESS: host.docker.internal:7233
      TEMPORAL_UI_PUBLIC_PATH: /admin/temporal
      # NOTE: this value is actually used via the client, so does not need a docker host address
      TEMPORAL_CODEC_ENDPOINT: 'http://localhost:4000/admin/temporal-codec'

  #
  # Replicated ClickHouse
  #
  # src: https://github.com/ClickHouse/examples/blob/main/docker-compose-recipes/recipes/cluster/docker-compose.yaml

  # clickhouse
  clickhouse-01:
    image: "clickhouse/clickhouse-server:${CHVER:-latest}"
    user: "101:101"
    container_name: clickhouse-01
    hostname: clickhouse-01
    networks:
      cluster:
        ipv4_address: 192.168.7.1
    volumes:
      - ./.dev/fs/volumes/clickhouse-01/etc/clickhouse-server/config.d/config.xml:/etc/clickhouse-server/config.d/config.xml
      - ./.dev/fs/volumes/clickhouse-01/etc/clickhouse-server/users.d/users.xml:/etc/clickhouse-server/users.d/users.xml
    ports:
      - "127.0.0.1:8123:8123"
      - "127.0.0.1:9000:9000"
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_DB: ctl_api
      # CLICKHOUSE_USER: ctl-api
      # CLICKHOUSE_PASSWORD: ctl-api
    depends_on:
      - clickhouse-keeper-01
      - clickhouse-keeper-02
      - clickhouse-keeper-03
  clickhouse-02:
    image: "clickhouse/clickhouse-server:${CHVER:-latest}"
    user: "101:101"
    container_name: clickhouse-02
    hostname: clickhouse-02
    networks:
      cluster:
        ipv4_address: 192.168.7.2
    volumes:
      - ./.dev/fs/volumes/clickhouse-02/etc/clickhouse-server/config.d/config.xml:/etc/clickhouse-server/config.d/config.xml
      - ./.dev/fs/volumes/clickhouse-02/etc/clickhouse-server/users.d/users.xml:/etc/clickhouse-server/users.d/users.xml
    ports:
      - "127.0.0.1:8124:8123"
      - "127.0.0.1:9001:9000"
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_DB: ctl_api
      # CLICKHOUSE_USER: ctl-api
      # CLICKHOUSE_PASSWORD: ctl-api
    depends_on:
      - clickhouse-keeper-01
      - clickhouse-keeper-02
      - clickhouse-keeper-03
  clickhouse-keeper-01:
    image: "clickhouse/clickhouse-keeper:${CHKVER:-latest-alpine}"
    user: "101:101"
    container_name: clickhouse-keeper-01
    hostname: clickhouse-keeper-01
    networks:
      cluster:
        ipv4_address: 192.168.7.5
    volumes:
     - ./.dev/fs/volumes/clickhouse-keeper-01/etc/clickhouse-keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml
    ports:
        - "127.0.0.1:9181:9181"
  clickhouse-keeper-02:
    image: "clickhouse/clickhouse-keeper:${CHKVER:-latest-alpine}"
    user: "101:101"
    container_name: clickhouse-keeper-02
    hostname: clickhouse-keeper-02
    networks:
      cluster:
        ipv4_address: 192.168.7.6
    volumes:
     - ./.dev/fs/volumes/clickhouse-keeper-02/etc/clickhouse-keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml
    ports:
        - "127.0.0.1:9182:9181"
  clickhouse-keeper-03:
    image: "clickhouse/clickhouse-keeper:${CHKVER:-latest-alpine}"
    user: "101:101"
    container_name: clickhouse-keeper-03
    hostname: clickhouse-keeper-03
    networks:
      cluster:
        ipv4_address: 192.168.7.7
    volumes:
     - ./.dev/fs/volumes/clickhouse-keeper-03/etc/clickhouse-keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml
    ports:
        - "127.0.0.1:9183:9181"

  # clickhouse ui
  clickhouse-ui:
    image: ghcr.io/caioricciuti/ch-ui:latest
    ports:
      - 5521:5521
    networks:
      - default
    environment:
      VITE_CLICKHOUSE_URL: http://localhost:8123
      VITE_CLICKHOUSE_USER: ctl-api
      VITE_CLICKHOUSE_PASS: ctl-api
    depends_on:
     - clickhouse-01
     - clickhouse-02

  # cache-registry used for docker locally
  cache-registry:
      image: registry:latest
      ports:
        - 5005:5000
      networks:
        - default
   
  parca:
    image: ghcr.io/parca-dev/parca:v0.24.0
    container_name: parca
    restart: unless-stopped
    command: ["/parca", "--config-path=/etc/parca/parca.yaml"]
    ports:
      - "7070:7070"
    volumes:
      - ./parca.yaml:/etc/parca/parca.yaml:ro

  ngrok-darwin:
    profiles: ["darwin"]
    image: ngrok/ngrok:latest
    container_name: ngrok
    restart: unless-stopped
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    ports:
      - "4040:4040"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    volumes:
      - ./ngrok-darwin.yml:/etc/ngrok.yml:ro
    networks:
      - default

  ngrok-linux:
    profiles: ["linux"]
    image: ngrok/ngrok:latest
    container_name: ngrok
    restart: unless-stopped
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    volumes:
      - ./ngrok-linux.yml:/etc/ngrok.yml:ro
    network_mode: host

volumes:
  postgres:
  clickhouse:
  pgadmin:

networks:
  default:
    driver: bridge
  cluster:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.7.0/24
          gateway: 192.168.7.254
