apiVersion: v1
kind: ConfigMap
metadata:
  name: parca
  namespace: parca
  labels:
    app.kubernetes.io/component: observability
    app.kubernetes.io/instance: parca
    app.kubernetes.io/name: parca
    app.kubernetes.io/version: v0.23.1
data:
  parca.yaml: |-
    object_storage:
      bucket:
        type: FILESYSTEM
        config:
          directory: "/var/lib/parca"

    scrape_configs:
      - job_name: "pprof"
        scrape_interval: "10s"
        scrape_timeout: "360s"
        scheme: "http"

        # Kubernetes Pod Discovery
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                # - workers-executors
                - ctl-api

        relabel_configs:
          # Keep only pods with the correct app label (workers-executors OR ctl-api-worker)
          - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
            action: keep
            regex: "(ctl-api-worker)"

          # Ensure we only scrape pods that expose profiling on port 6060
          - source_labels: [__meta_kubernetes_pod_container_port_number]
            action: keep
            regex: "6060"

          # Use the pod IP and port 6060 as the scrape target
          - source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: "$1:6060"

          # Add useful labels for filtering
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace

        profiling_config:
          path_prefix: "/debug/pprof"
          pprof_config:
            memory:
              enabled: true
              path: "allocs"
            block:
              enabled: true
              path: "block"
            goroutine:
              enabled: true
              path: "goroutine"
            mutex:
              enabled: true
              path: "mutex"
            process_cpu:
              enabled: true
              delta: true
              path: "profile"
            threadcreate:
              enabled: true
              path: "threadcreate"
            heap:
              enabled: true
              path: "heap"