.modal-wrapper {
  --ease: cubic-bezier(0.65, 0, 0.35, 1);
  --speed: 150ms;
   @apply absolute top-0 left-0 w-screen h-screen flex;
}

.modal-overlay {
  @apply bg-black/50 dark:bg-black/75 absolute top-0 left-0 w-screen h-screen flex;
}

.modal-wrapper.enter .modal-overlay {
  animation: enter-overlay var(--speed) var(--ease) forwards;
}

.modal-wrapper.exit .modal-overlay {
  animation: enter-overlay var(--speed) var(--ease) forwards;
}

@keyframes enter-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes exit-overlay {
  0% {
    opacity: 1;  
  }
  100% {
    opacity: 0; 
  }
}

.modal {
  width: calc(100% - 48px);
  @apply bg-white dark:bg-dark-grey-100 border flex flex-col m-auto rounded-md shadow-lg; 
}

.modal-wrapper.enter .modal {
  opacity: 0;
  animation: enter-below var(--speed) var(--ease) var(--speed) forwards;
}

.modal-wrapper.exit .modal {
  animation: exit-below var(--speed) var(--ease) forwards;
}

@keyframes enter-below {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit-below {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}
