#toast-portal {
  --stack-gap: 24px;
  --ease: ease;
  --speed: 0.4s;
  --speed-fast: 0.25s;
  height: var(--height);
  transition: height var(--speed) var(--ease), bottom var(--speed) var(--ease);;
  @apply fixed bottom-6 right-6 z-20 w-full max-w-72 block overflow-visible;
}

#toast-portal:hover {
  height: var(--hover-height);
  @apply bottom-10;
}

#toast-portal:hover .toast-wrapper:not(:last-child) .toast {
  transform: translate3d(0,calc(var(--hover-offset-y) - var(--stack-gap) * (var(--index) - 1)),0);
}

.toast-wrapper .toast {
  @apply absolute bottom-0 right-0 z-10;
}

.toast-wrapper.toast-wrapper-1 .toast {
  --bottom-start: -1rem; 
}

#toast-portal .toast-wrapper:not(:last-child) .toast {
  --i: calc(var(--index) - 1);
  --bottom-start: 0;
  transform: translate3d(0, calc(1px - (var(--stack-gap) * var(--i))),0) scale(calc(1 - .05 * var(--i)));
 
}

.toast-wrapper.enter.toast-wrapper-4 .toast {
  animation: fade-toast var(--speed-fast) var(--ease) forwards;
}

/* toast component */
.toast {
  transition-property: opacity, transform, bottom;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease);
  @apply flex flex-col border rounded-md w-72 p-4 gap-1 shadow-md;
}

.enter .toast {
  opacity: 0;
  animation: enter-toast var(--speed) var(--ease) var(--speed) forwards;
}

.exit .toast {
  animation: exit-toast var(--speed-fast) var(--ease) forwards;
}

@keyframes enter-toast {
  0% {
    opacity: 0;
    bottom: var(--bottom-start);
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes exit-toast {
  0% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    opacity: 0;
    bottom: -1rem;
  }
}

@keyframes fade-toast {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;    
  }
}

/* theme */
.toast.default {
  @apply bg-cool-grey-50 text-dark-grey-950 dark:bg-dark-grey-200 dark:text-white;
}

.toast.success {
  @apply bg-green-100/50 text-green-800 border-green-400 dark:bg-green-950/15 dark:border-green-500/40 dark:text-green-500;
}

.toast.warn {
  @apply bg-orange-100/50 text-orange-800 border-orange-400 dark:bg-orange-950/15 dark:border-orange-500/40 dark:text-orange-500;
}

.toast.error {
  @apply bg-red-100/50 text-red-800 border-red-300 dark:bg-red-950/15 dark:border-red-500/40 dark:text-red-500;
}

.toast.info {
  @apply bg-blue-100/50 text-blue-800 border-blue-400 dark:bg-blue-950/15 dark:border-blue-500/40 dark:text-blue-500;
}
