---
environment: stage

env:
  INTERNAL_SLACK_WEBHOOK_URL: |-
    https://hooks.slack.com/services/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

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
