---
environment: stage

configmap:
  values:
    DEPLOYMENTS_BUCKET: $TFO_DEPLOYMENTS_BUCKET_NAME
    ORGS_DEPLOYMENTS_ROLE_TEMPLATE: $TFO_ORGS_DEPLOYMENTS_ROLE_TEMPLATE

    WAYPOINT_SERVER_ROOT_DOMAIN: $TFO_WAYPOINT_SERVER_ROOT_DOMAIN
    WAYPOINT_TOKEN_SECRET_NAMESPACE: $TFO_WAYPOINT_SERVER_TOKEN_SECRET_NAMESPACE

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
