name = "Cron"
timeout = "30s"

[[triggers]]
type = "manual"

[[triggers]]
type = "cron"
cron_schedule = "* * * * *"

# echo something out
[[steps]]
name = "echo"
command = "echo 'hello world'"

[steps.env_vars]
TEST_NUON_VAR = "{{.nuon.install.id}}"
