---
environment: stage

configmap:
  values:
    # orgs k8s access
    ORGS_K8S_CA_DATA: $TFO_ORGS_K8S_CA_DATA
    ORGS_K8S_PUBLIC_ENDPOINT: $TFO_ORGS_K8S_PUBLIC_ENDPOINT
    ORGS_K8S_ROLE_ARN: $TFO_ORGS_K8S_ROLE_ARN
    ORGS_K8S_CLUSTER_ID: $TFO_ORGS_K8S_CLUSTER_ID

    # locally managed IAM roles for working with orgs account
    ORGS_IAM_ACCESS_ROLE_ARN: $TFO_ORGS_ACCOUNT_IAM_ACCESS_ROLE_ARN
    ORGS_BUCKET_ACCESS_ROLE_ARN: $TFO_ORGS_ACCOUNT_BUCKET_ACCESS_ROLE_ARN
    ORGS_KMS_ACCESS_ROLE_ARN: $TFO_ORGS_ACCOUNT_KMS_ACCESS_ROLE_ARN

    # orgs bucket configuration for creating org specific roles in the org account
    ORG_DEPLOYMENTS_BUCKET_NAME: $TFO_ORG_DEPLOYMENTS_BUCKET_NAME
    ORG_SECRETS_BUCKET_NAME: $TFO_ORG_SECRETS_BUCKET_NAME
    ORG_ORGS_BUCKET_NAME: $TFO_ORG_ORGS_BUCKET_NAME
    ORG_INSTALLATIONS_BUCKET_NAME: $TFO_ORG_INSTALLATIONS_BUCKET_NAME

    # grant access to nuon resources
    SUPPORT_IAM_ROLE_ARN: $TFO_SUPPORT_IAM_ROLE_ARN
    WORKERS_IAM_ROLE_ARN_PREFIX: $TFO_WORKERS_IAM_ROLE_ARN_PREFIX
    ORGS_ACCOUNT_ROOT_ARN: $TFO_ORGS_ACCOUNT_ROOT_ARN
    ORGS_ACCOUNT_ID: $TFO_ORGS_ACCOUNT_ID

    ORGS_IAM_OIDC_PROVIDER_URL: $TFO_ORGS_IAM_OIDC_PROVIDER_URL
    ORGS_IAM_OIDC_PROVIDER_ARN: $TFO_ORGS_IAM_OIDC_PROVIDER_ARN
    ORGS_ECR_REGISTRY_ARN: $TFO_ORGS_ECR_REGISTRY_ARN
    WAYPOINT_SERVER_ROOT_DOMAIN: $TFO_WAYPOINT_SERVER_ROOT_DOMAIN
    WAYPOINT_BOOTSTRAP_TOKEN_NAMESPACE: $TFO_WAYPOINT_BOOTSTRAP_TOKEN_NAMESPACE

    SANDBOX_BUCKET_ARN: $TFO_SANDBOX_BUCKET_ARN
    SANDBOX_KEY_ARN: $TFO_SANDBOX_KEY_ARN

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
