---
environment: prod

configmap:
  values:
    ORGS_ECR_ACCESS_ROLE_ARN: $TFO_ORGS_ECR_ACCESS_ROLE_ARN
    ORGS_ROLE_TEMPLATE: $TFO_ORGS_ROLE_TEMPLATES_ORGS_ACCESS
    ORGS_BUCKET_NAME: $TFO_BUCKETS_ORGS_NAME

    # accessing waypoint
    WAYPOINT_TOKEN_NAMESPACE: $TFO_WAYPOINT_SERVER_TOKEN_SECRET_NAMESPACE
    WAYPOINT_SERVER_ROOT_DOMAIN: $TFO_WAYPOINT_SERVER_ROOT_DOMAIN

    # add orgs k8s data
    ORGS_K8S_CA_DATA: $TFO_ORGS_K8S_CA_DATA
    ORGS_K8S_PUBLIC_ENDPOINT: $TFO_ORGS_K8S_PUBLIC_ENDPOINT
    ORGS_K8S_CLUSTER_ID: $TFO_ORGS_K8S_CLUSTER_ID
    ORGS_K8S_ROLE_ARN: $TFO_ORGS_K8S_ROLE_ARN

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
