//npm.pkg.github.com:_authToken=${NUON_NPM_GITHUB_TOKEN}
@powertoolsdev:registry=https://npm.pkg.github.com/
//buf.build/gen/npm/v1/:_authToken=4c51e8481ed34404b7ab6a0c62dc7b2db82757d8f86e4caa853750973e2c5083
@buf:registry=https://buf.build/gen/npm/v1
