---
type: api
port: 3000
env:
  DISABLE_METRICS: true
  TEMPORAL_NAMESPACE: default

local_env:
  SERVICES: |
    [
        { "name": "status", "url": "localhost:8080" },
        { "name": "org", "url": "localhost:8080" },
        { "name": "app", "url": "localhost:8080" },
        { "name": "install", "url": "localhost:8080" },
        { "name": "instance", "url": "localhost:8080" },
        { "name": "component", "url": "localhost:8080" },
        { "name": "deployment", "url": "localhost:8080" },
        { "name": "github", "url": "localhost:8080" },
        { "name": "build", "url": "localhost:8080" },
        { "name": "deploy", "url": "localhost:8080" },
        { "name": "orgStatus", "url": "localhost:8081" },
        { "name": "deploymentStatus", "url": "localhost:8081" },
        { "name": "installStatus", "url": "localhost:8081" },
        { "name": "instanceStatus", "url": "localhost:8081" },
        { "name": "buildStatus", "url": "localhost:8081" }
    ]
local_cmds:
  # NOTE(jm): this should just be using `node dev` but doesn't appear to be working properly
  - ./node_modules/.bin/nodemon src/main.ts
earthly_cmd: npm dev
