---
type: api
port: 3000
env:
  DISABLE_METRICS: true
  TEMPORAL_NAMESPACE: default

local_env:
  SERVICES: |
    [
        { "name": "status", "url": "localhost:8080" },
        { "name": "org", "url": "localhost:8080" },
        { "name": "app", "url": "localhost:8080" },
        { "name": "install", "url": "localhost:8080" },
        { "name": "component", "url": "localhost:8080" },
        { "name": "deployment", "url": "localhost:8080" },
        { "name": "github", "url": "localhost:8080" },
        { "name": "orgStatus", "url": "localhost:8081" },
        { "name": "deploymentStatus", "url": "localhost:8081" },
        { "name": "installStatus", "url": "localhost:8081" },
        { "name": "instance", "url": "localhost:8081" }
    ]
local_cmd: npm run dev
run_cmd: npm api
