---
environment: prod

configmap:
  values:
    SLACK_WEBHOOK_URL: $TFO_CANARY_SLACK_WEBHOOKS_URL

    API_URL: $TFO_API_URL
    INTERNAL_API_URL: $TFO_INTERNAL_API_URL

    STATE_BUCKET_NAME: $TFO_STATE_BUCKET_NAME
    STATE_BUCKET_REGION: $TFO_STATE_BUCKET_REGION

    AWS_EKS_IAM_ROLE_ARN: $TFO_AWS_EKS_IAM_ROLE_ARN
    AWS_ECS_IAM_ROLE_ARN: $TFO_AWS_ECS_IAM_ROLE_ARN

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
