/*
  below
*/
.dropdown .dropdown-content.below.enter {
  animation: enter-below var(--duration-fastest) var(--ease-cubic);
}

.dropdown .dropdown-content.below.exit {
  animation: exit-below var(--duration-fastest) var(--ease-cubic);
}

@keyframes enter-below {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit-below {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

/*
  above
*/
.dropdown .dropdown-content.above.enter {
  animation: enter-above var(--duration-fastest) var(--ease-cubic);
}

.dropdown .dropdown-content.above.exit {
  animation: exit-above var(--duration-fastest) var(--ease-cubic);
}

@keyframes enter-above {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit-above {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

/*
  beside
*/

/*
  beside left
*/
.dropdown .dropdown-content.beside.left.enter {
  animation: enter-beside-left var(--duration-fastest) var(--ease-cubic);
}

.dropdown .dropdown-content.beside.left.exit {
  animation: exit-beside-left var(--duration-fastest) var(--ease-cubic);
}

@keyframes enter-beside-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-beside-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-1rem);
  }
}

/*
  beside right
*/
.dropdown .dropdown-content.beside.right.enter {
  animation: enter-beside-right var(--duration-fastest) var(--ease-cubic);
}

.dropdown .dropdown-content.beside.right.exit {
  animation: exit-beside-right var(--duration-fastest) var(--ease-cubic);
}

@keyframes enter-beside-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-beside-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(1rem);
  }
}

/*
  overlay
*/
.dropdown .dropdown-content.overlay.enter {
  animation: enter-overlay var(--duration-fastest) var(--ease-cubic);
}

.dropdown .dropdown-content.overlay.exit {
  animation: exit-overlay var(--duration-fastest) var(--ease-cubic);
}

@keyframes enter-overlay {
  0% {
    opacity: 0;
    translate: 0 -0.5rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes exit-overlay {
  0% {
    opacity: 1;
    translate: 0 0;
  }
  100% {
    opacity: 0;
    translate: 0 -0.5rem;
  }
}
