.tabs div.enter {
  opacity: 0;
  animation: enter-tab var(--duration-fastest) var(--ease-cubic)
    var(--duration-fast) forwards;
}

.tabs div.exit {
  animation: exit-tab var(--duration-fastest) var(--ease-cubic) forwards;
}

@keyframes enter-tab {
  0% {
    opacity: 0;
    /* transform: translateY(0.25rem); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

@keyframes exit-tab {
  0% {
    opacity: 1;
    position: absolute;
    /* transform: translateY(0); */
  }
  100% {
    opacity: 0;
    /* transform: translateY(0.25rem); */
  }
}

.tabs {
  height: fit-content;
  max-height: auto;
  transition: max-height var(--duration-fastest) var(--ease-cubic)
    var(--duration-fastest);
}
