---
environment: stage

configmap:
  values:
    INSTALLATIONS_BUCKET: $TFO_BUCKETS_INSTALLATIONS_NAME
    INSTALLATIONS_BUCKET_REGION: $TFO_BUCKETS_INSTALLATIONS_REGION

    # configs for accessing orgs account k8s cluster
    ORGS_K8S_CA_DATA: $TFO_ORGS_K8S_CA_DATA
    ORGS_K8S_PUBLIC_ENDPOINT: $TFO_ORGS_K8S_PUBLIC_ENDPOINT
    ORGS_K8S_CLUSTER_ID: $TFO_ORGS_K8S_CLUSTER_ID
    ORGS_K8S_ROLE_ARN: $TFO_ORGS_K8S_ROLE_ARN

    # templates for org IAM roles
    ORGS_INSTALLATIONS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTALLATIONS_ACCESS
    ORGS_INSTALLER_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTALLER
    ORGS_INSTANCES_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTANCES_ACCESS

    NUON_ACCESS_ROLE_ARN: $TFO_ORGS_IAM_ROLES_INSTALL_K8S_ACCESS_ARN
    SANDBOX_BUCKET: $TFO_SANDBOX_BUCKET_NAME

    TOKEN_SECRET_NAMESPACE: $TFO_WAYPOINT_SERVER_TOKEN_SECRET_NAMESPACE
    ORG_SERVER_ROOT_DOMAIN: $TFO_WAYPOINT_SERVER_ROOT_DOMAIN

    # public dns management
    PUBLIC_DNS_ACCESS_ROLE_ARN: $TFO_PUBLIC_DNS_ACCESS_ROLE_ARN
    PUBLIC_DOMAIN: $TFO_PUBLIC_DOMAIN_DOMAIN
    PUBLIC_DOMAIN_ZONE_ID: $TFO_PUBLIC_DOMAIN_ZONE_ID

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
