---
env:
  KEY: VALUE

envSecrets:
  - name: "LOOPS_API_KEY"
    valueFrom:
      name: ctl-api-loops-api-key
      key: loops_api_key

image:
  repository: "metabase/metabase-enterprise"
  tag: "latest"

api:
  liveness_probe: /
  readiness_probe: /

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

  port: 3000
  domain: MUST_BE_SET 
  autoscaling:
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 50
    targetMemoryUtilizationPercentage: 50

serviceAccount:
  name: metabase
