---
env:
  KEY: VALUE

envSecrets:
  - name: "LOOPS_API_KEY"
    valueFrom:
      name: ctl-api-loops-api-key
      key: loops_api_key

image:
  repository: "metabase/metabase-enterprise"
  tag: "latest"

api:
  liveness_probe: /
  readiness_probe: /

  resources:
    limits:
      cpu: 1500m
      memory: 1.5Gi
    requests:
      cpu: 1000m
      memory: 1Gi

  port: 3000
  domain: MUST_BE_SET 
  autoscaling:
    minReplicas: 2
    maxReplicas: 3
    targetCPUUtilizationPercentage: 90
    targetMemoryUtilizationPercentage: 90

serviceAccount:
  name: metabase
