---
environment: stage

configmap:
  values:
    SOME_KEY: SOME_VALUE

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN

nlb:
  hostname: api.nuon.us-west-2.prod.nuon.cloud
