---
environment: prod

configmap:
  values:
    ORGS_ECR_ACCESS_ROLE_ARN: $TFO_ORGS_ECR_ACCESS_ROLE_ARN
    ORGS_ROLE_TEMPLATE: $TFO_ORGS_ROLE_TEMPLATE

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
