---
environment: stage

configmap:
  values:
    DEPLOYMENTS_BUCKET: $TFO_BUCKET_DEPLOYMENTS_NAME
    INSTALLATIONS_BUCKET: $TFO_BUCKET_INSTALLATIONS_NAME
    INSTANCES_BUCKET: $TFO_BUCKET_INSTANCES_NAME
    ORGS_BUCKET: $TFO_BUCKET_ORGS_NAME

    # configs for accessing orgs account k8s cluster
    ORGS_K8S_CA_DATA: $TFO_ORGS_K8S_CA_DATA
    ORGS_K8S_PUBLIC_ENDPOINT: $TFO_ORGS_K8S_PUBLIC_ENDPOINT
    ORGS_K8S_ROLE_ARN: $TFO_ORGS_K8S_ACCESS_ROLE_ARNS_EKS_WORKERS_DEPLOYMENTS

    # templates for org IAM roles
    ORGS_DEPLOYMENTS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_DEPLOYMENTS_ACCESS
    ORGS_INSTALLATIONS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTALLATIONS_ACCESS
    ORGS_INSTALLER_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTALLER
    ORGS_INSTANCES_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTANCES_ACCESS
    ORGS_ODR_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_ODR
    ORGS_ORGS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_ORGS_ACCESS

    # fields for plan child workflow
    ORGS_ECR_REGISTRY_ID: !!str $TFO_ORGS_ECR_REGISTRY_ID
    ORGS_ECR_REGISTRY_ARN: $TFO_ORGS_ECR_REGISTRY_ARN
    ORGS_ECR_REGION: $TFO_ORGS_ECR_REGION

    WAYPOINT_SERVER_ROOT_DOMAIN: $TFO_WAYPOINT_SERVER_ROOT_DOMAIN
    WAYPOINT_TOKEN_SECRET_NAMESPACE: $TFO_WAYPOINT_SERVER_TOKEN_SECRET_NAMESPACE
    WAYPOINT_TOKEN_SECRET_TEMPLATE: $TFO_WAYPOINT_SERVER_TOKEN_SECRET_TEMPLATE

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
