---
environment: stage

configmap:
  values:
    INSTALLATIONS_BUCKET: $TFO_INSTALLATIONS_BUCKET_NAME
    INSTALLATIONS_K8S_ROLE_ARN: $TFO_INSTALLATIONS_K8S_ROLE_ARN

    # orgs k8s access
    ORGS_K8S_CA_DATA: $TFO_ORGS_K8S_CA_DATA
    ORGS_K8S_PUBLIC_ENDPOINT: $TFO_ORGS_K8S_PUBLIC_ENDPOINT
    ORGS_K8S_ROLE_ARN: $TFO_ORGS_K8S_ROLE_ARN
    ORGS_K8S_CLUSTER_ID: $TFO_ORGS_K8S_CLUSTER_ID

    # orgs iam
    ORGS_IAM_ACCESS_ROLE_ARN: $TFO_ORGS_ACCOUNT_IAM_ACCESS_ROLE_ARN
    ORGS_IAM_OIDC_PROVIDER_URL: $TFO_ORGS_IAM_OIDC_PROVIDER_URL
    ORGS_IAM_OIDC_PROVIDER_ARN: $TFO_ORGS_IAM_OIDC_PROVIDER_ARN
    ORGS_ECR_REGISTRY_ARN: $TFO_ORGS_ECR_REGISTRY_ARN

    # orgs buckets
    ORG_DEPLOYMENTS_BUCKET_NAME: $TFO_ORG_DEPLOYMENTS_BUCKET_NAME
    ORG_INSTALLATIONS_BUCKET_NAME: $TFO_ORG_INSTALLATIONS_BUCKET_NAME

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
