---
environment: prod

configmap:
  values:
    DEPLOYMENTS_BUCKET: $TFO_DEPLOYMENTS_BUCKET_NAME
    ORGS_DEPLOYMENTS_ROLE_TEMPLATE: $TFO_ORGS_DEPLOYMENTS_ROLE_TEMPLATE
    WAYPOINT_SERVER_ROOT_DOMAIN: $TFO_WAYPOINT_SERVER_ROOT_DOMAIN

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
