---
environment: stage

configmap:
  values:
    DB_HOST: $TFO_DB_INSTANCE_HOST
    DB_NAME: $TFO_DB_INSTANCE_NAME
    DB_USER: $TFO_DB_INSTANCE_USERNAME

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
