---
env:
  DB_HOST: postgres
  DB_NAME: api
  DB_PASSWORD: password
  DB_SSL_MODE: disable
  DB_USE_IAM: false
  DB_USE_SSL: false
  GIT_REF: local
  DISABLE_METRICS: true
  HTTP_PORT: 8081
  INTERNAL_HTTP_PORT: 8082
  DB_MIGRATIONS_PATH: ./migrations
  MIDDLEWARES: error,metrics,auth,global,org,headers
  INTERNAL_MIDDLEWARES: metrics,error
  GITHUB_APP_IP: !!string 261597
  AUTH0_ISSUER_URL: "https://nuon.us.auth0.com/"
  AUTH0_AUDIENCE: "api.nuon.co"
  DEV_ENABLE_WORKERS_DRY_RUN: true
  DEV_DRY_RUN_SLEEP: 5s
local_env:
  DB_HOST: localhost
env_secrets:
  GITHUB_APP_KEY:
    name: graphql-api-github-app-key
    key: github_app_key
config_map_override: api
local_cmds:
  - "go run . auto-migrate"
  - "go run . api"
  - "go run . worker"
earthly_cmd: server
port: 8081
type: api
