---
color: cyan
env:
  # psql db configuration
  DB_HOST: localhost
  DB_USER: ctl_api
  DB_NAME: ctl_api
  DB_PASSWORD: password
  DB_SSL_MODE: disable
  DB_USE_IAM: false
  DB_USE_SSL: false
  DB_USE_ZAP: false

  # clickhouse db configuration
  CLICKHOUSE_DB_HOST: 127.0.0.1
  CLICKHOUSE_DB_PORT: 9000
  CLICKHOUSE_DB_USER: ctl-api
  CLICKHOUSE_DB_PASSWORD: ctl-api
  CLICKHOUSE_DB_NAME: ctl_api
  CLICKHOUSE_DB_USE_TLS: false

  # defaults
  GIT_REF: local
  HTTP_PORT: 8081
  INTERNAL_HTTP_PORT: 8082
  RUNNER_HTTP_PORT: 8083
  GRACEFUL_SHUTDOWN_TIMEOUT: 1s
  MIDDLEWARES: log,public_metrics,error,public,timeout,size,global,auth,org,offset_pagination,invites,headers,cors,config
  RUNNER_MIDDLEWARES: log,runner_metrics,error,timeout,size,public,auth,runner_org,offset_pagination,headers,cors,config
  INTERNAL_MIDDLEWARES: log,internal_metrics,error,timeout,size,public,global,config,admin,offset_pagination
  GITHUB_APP_ID: !!string 261597
  RUNNER_API_URL: http://localhost:8083
  AUTH0_ISSUER_URL: "https://nuon.us.auth0.com/"
  AUTH0_AUDIENCE: "api.nuon.co"
  AUTH0_CLIENT_ID: 7VLjCLy25IQVWx7yMLgp15x5IkXDS6Vr
  INTEGRATION_GITHUB_INSTALL_ID: !!string 41323514
  INTERNAL_SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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
  SEGMENT_WRITE_KEY: FxvXYu94xEX5iVBQT5VfnVv0aEzKdxz2
  DASHBOARD_URL: http://localhost:4000
  TEMPORAL_MAX_CONCURRENT_ACTIVITIES: 100
  TEMPORAL_STICKY_WORKFLOW_CACHE_SIZE: 10

  # The following fields control local behavior and can be changed by adding a ~/.nuonctl-env.yml file:
  #
  # ---
  # ctl-api:
  #   LOG_LEVEL: DEBUG
  #
  # Please do not check in updated values of this file, unless you are exposing a new default for _everyone_.

  # this forces all local orgs created to be sandbox mode
  FORCE_SANDBOX_MODE: false
  SANDBOX_MODE_SLEEP: 1s
  # this enables runner usage for sandbox mode
  SANDBOX_MODE_ENABLE_RUNNERS: true
  # this forces all runners to be run locally, even when outside sandbox mode
  USE_LOCAL_RUNNERS: true

  DISABLE_ANALYTICS: true
  DISABLE_METRICS: true
  DISABLE_NOTIFICATIONS: true
  DB_LOG_QUERIES: false
  FORCE_DEBUG_MODE: true
  #LOG_LEVEL: "DEBUG"

env_secrets:
  GITHUB_APP_KEY:
    name: ctl-api-github-app-key
    key: github_app_key
  LOOPS_API_KEY:
    name: ctl-api-loops-api-key
    key: loops_api_key
watch_ignore:
  - '\/docs'
  - '\/admin'
  - '\/internal\/integration'
  - "_gen"

# the startup commands for ctl api are way too long and must be run only when booting the app
disable_watch_rerun_startup_commands: true
local_startup_cmds:
  # - go generate ./...
  - go build -o /tmp/svc-ctl-api
  - /tmp/svc-ctl-api startup
local_build_cmds:
  - rm -f /tmp/svc-ctl-api
  - go build -o /tmp/svc-ctl-api
local_cmds:
  - /tmp/svc-ctl-api api --pprof_port=6061
  - /tmp/svc-ctl-api worker --namespace=all

earthly_cmds:
  - cmd: startup
  - cmd: api
    ports:
      - 8081
      - 8082
      - 8083
  - cmd: worker
    args:
      - --namespace=all

earthly_env:
  DB_HOST: host.docker.internal
  CLICKHOUSE_DB_HOST: host.docker.internal
