---
port: 8081
type: api
env:
  DB_HOST: postgres
  DB_USER: ctl_api
  DB_NAME: ctl_api
  DB_PASSWORD: password
  DB_SSL_MODE: disable
  DB_USE_IAM: false
  DB_USE_SSL: false
  DB_USE_ZAP: false
  GIT_REF: local
  HTTP_PORT: 8081
  INTERNAL_HTTP_PORT: 8082
  MIDDLEWARES: public_metrics,error,public,global,auth,org,user_orgs,headers,cors,config
  INTERNAL_MIDDLEWARES: internal_metrics,error,config
  GITHUB_APP_ID: !!string 261597
  AUTH0_ISSUER_URL: "https://nuon.us.auth0.com/"
  AUTH0_AUDIENCE: "api.nuon.co"
  AUTH0_CLIENT_ID: 7VLjCLy25IQVWx7yMLgp15x5IkXDS6Vr
  FORCE_SANDBOX_MODE: true
  SANDBOX_SLEEP: 3s
  INTEGRATION_GITHUB_INSTALL_ID: !!string 41323514
  APP_SYNC_API_URL: http://localhost:8081
  INTERNAL_SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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

  # toggles for local development based on what you are working on
  DISABLE_METRICS: true
  #DISABLE_NOTIFICATIONS: true
  LOG_LEVEL_DEBUG: true

local_env:
  DB_HOST: localhost
env_secrets:
  GITHUB_APP_KEY:
    name: ctl-api-github-app-key
    key: github_app_key
  LOOPS_API_KEY:
    name: ctl-api-loops-api-key
    key: loops_api_key
watch_ignore_dirs:
  - docs/
  - admin/
  - internal/integration/
local_startup_cmds:
  - go generate ./...
  - go build -o /tmp/svc-ctl-api
  - /tmp/svc-ctl-api startup
local_cmds:
  - /tmp/svc-ctl-api api
  - /tmp/svc-ctl-api worker
earthly_cmd: server
