---
port: 8081
type: api
env:
  # psql db configuration
  DB_HOST: localhost
  DB_USER: ctl_api
  DB_NAME: ctl_api
  DB_PASSWORD: password
  DB_SSL_MODE: disable
  DB_USE_IAM: false
  DB_USE_SSL: false
  DB_USE_ZAP: false

  # clickhouse db configuration
  CLICKHOUSE_DB_HOST: 127.0.0.1
  CLICKHOUSE_DB_PORT: 9000
  CLICKHOUSE_DB_USER: ctl-api
  CLICKHOUSE_DB_PASSWORD: ctl-api
  CLICKHOUSE_DB_NAME: ctl_api
  CLICKHOUSE_DB_USE_TLS: false

  # defaults
  GIT_REF: local
  HTTP_PORT: 8081
  INTERNAL_HTTP_PORT: 8082
  RUNNER_HTTP_PORT: 8083
  MIDDLEWARES: public_metrics,error,public,global,auth,org,invites,headers,cors,config
  RUNNER_MIDDLEWARES: runner_metrics,error,public,auth,headers,cors,config
  INTERNAL_MIDDLEWARES: internal_metrics,error,config
  GITHUB_APP_ID: !!string 261597
  AUTH0_ISSUER_URL: "https://nuon.us.auth0.com/"
  AUTH0_AUDIENCE: "api.nuon.co"
  AUTH0_CLIENT_ID: 7VLjCLy25IQVWx7yMLgp15x5IkXDS6Vr
  INTEGRATION_GITHUB_INSTALL_ID: !!string 41323514
  INTERNAL_SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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
  SEGMENT_WRITE_KEY: FxvXYu94xEX5iVBQT5VfnVv0aEzKdxz2
  DASHBOARD_URL: http://localhost:4000

  # The following options are common toggles for configuring local behaviour, and should not be checked in when changed
  # (unless you would like to change the default)

  FORCE_SANDBOX_MODE: false
  SANDBOX_MODE_SLEEP: 3s
  # this enables runner usage for sandbox mode
  SANDBOX_MODE_ENABLE_RUNNERS: true
  # this forces all runners to be run locally, even when outside sandbox mode
  USE_LOCAL_RUNNERS: true

  DISABLE_METRICS: true
  DISABLE_NOTIFICATIONS: true
  DB_LOG_QUERIES: false
  #LOG_LEVEL: "DEBUG"

env_secrets:
  GITHUB_APP_KEY:
    name: ctl-api-github-app-key
    key: github_app_key
  LOOPS_API_KEY:
    name: ctl-api-loops-api-key
    key: loops_api_key
watch_ignore:
  - '\/docs'
  - '\/admin'
  - '\/internal\/integration'
  - "_gen"
local_startup_cmds:
  - go generate ./...
  - go build -o /tmp/svc-ctl-api
  - /tmp/svc-ctl-api startup
local_build_cmds:
  - rm -f /tmp/svc-ctl-api
  - go build -o /tmp/svc-ctl-api
local_cmds:
  - /tmp/svc-ctl-api api
  - /tmp/svc-ctl-api worker --namespace=all

earthly_cmd: server
earthly_env:
  DB_HOST: postgres
  CLICKHOUSE_DB_HOST: clickhouse
