---
environment: stage

configmap:
  values:
    AUTH_ISSUER: https://nuon.us.auth0.com
    AUTH_AUDIENCE: api.nuon.co
    SERVICES: |
      [
          { "name": "status", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "org", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "app", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "install", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "component", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "deployment", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "github", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "orgStatus", "url": "orgs-api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "deploymentStatus", "url": "orgs-api.nuon.us-west-2.stage.nuon.cloud:80" },    
          { "name": "installStatus", "url": "orgs-api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "instanceStatus", "url": "orgs-api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "build", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "deploy", "url": "api.nuon.us-west-2.stage.nuon.cloud:80" },
          { "name": "buildStatus", "url": "orgs-api.nuon.us-west-2.stage.nuon.cloud:80" }
      ]

ingress:
  main:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: api.stage.nuon.co
      alb.ingress.kubernetes.io/certificate-arn: $TFO_CERTIFICATE_ARN

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
