{{- if and .Values.server.enabled .Values.server.certs.useSourceCert }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.server.certs.secretName}}
  namespace: {{ .Release.Namespace }}
  annotations:
    reflector.v1.k8s.emberstack.com/reflects: {{ .Values.server.certs.sourceCertSecretNamespace}}/{{ .Values.server.certs.sourceCertSecretName }}
type: kubernetes.io/tls
data:
  {{.Values.server.certs.certName}}: ""
  {{.Values.server.certs.keyName}}: ""
{{- end }}
