@media (prefers-color-scheme: light) {
  .dashboard > aside {
    background: linear-gradient(172deg,  #FFF 0%,  #FAFAFA 99.36%), #FFF;
  }
}

@media (prefers-color-scheme: dark) {
  .dashboard > aside {
    background: linear-gradient(172deg, #0D0416 0%,#050109 99.36%),  #141217;
  }
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 200vw;
  transition: translate 250ms cubic-bezier(0.65, 0, 0.35, 1);
}

.dashboard.is-open  {
  translate: -100vw;
}

.dashboard > aside {
  height: 100vh;
  width: 100vw;
}

.dashboard > aside > header {
  padding: 0 1rem;
  height: 4rem;
}

.dashboard > main {
  height: 100vh;
  width: 100vw;
}

.dashboard > main > header {  

}

@media (min-width: 768px) {
  .dashboard {
    width: 100vw;
    transition: unset;
  }

  .dashboard.is-open {
    translate: 0;
  }

  .dashboard > aside {
    transition: width 250ms cubic-bezier(0.65, 0, 0.35, 1);
    width: 4.5rem;
    @apply flex-none;
  }

  .dashboard.is-open > aside {
    width: 17.5rem;
  }
  
  .dashboard > main {
    width: 100%;
  }
}

