
.dashboard > aside .link {
  font-family: var(--font-inter);
  height: 14px;
  height: 36px;
  line-height: 21px;
  letter-spacing: -0.2px;
  @apply flex items-center gap-4 overflow-hidden rounded-md py-2.5 px-3 transition-colors;
}

.dashboard > aside .link:hover {
  @apply bg-black/5 dark:bg-white/10;
}

.dashboard > aside .link-active {
  @apply text-primary-800 dark:text-primary-400 bg-primary-200 dark:bg-primary-600/25;
}

.dashboard > aside .link-inactive {
  @apply text-cool-grey-800 dark:text-cool-grey-400;
}

.dashboard > aside .link svg {
  height: 1rem;
  width: 1rem;
}

@media (min-width: 768px) {
  .dashboard > aside  a.link span.link-text,
  .dashboard > aside .nav-label {
    opacity: 0%;
    text-wrap: nowrap;
    transition: opacity 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside a.link span.link-text,
  .dashboard.is-open > aside .nav-label {
    opacity: 100%;  
  }

  .dashboard > aside .nav-label {    
    height: 0px;
    overflow: hidden;
    transition: height 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside .nav-label {
    height: 17px;
  }

  .dashboard > aside nav hr {
    opacity: 100%;
    transition: opacity 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside nav hr {
    opacity: 0%;  
  }

  .dashboard > aside .link svg {

  }

  .dashboard.is-open > aside .link svg {

  }
}
