.dashboard .logo-text {
  
}

@media (min-width: 768px) {
  .dashboard > aside > header .logo {
     transition: translate 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }
  
  .dashboard:not(.is-open) > aside > header .logo {
    translate: 0.55rem;
  }
  
  .dashboard > aside > header .logo-text {
    opacity: 0%;
    text-wrap: nowrap;
    transition: opacity 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside > header .logo-text {
    opacity: 100%;  
  }
}
