.dashboard > aside nav .tooltip-wrapper:has(.link) .tooltip-content {
  display: none;
}

@media (min-width: 768px) {
  .dashboard > aside  a.link span.link-text,
  .dashboard > aside .nav-label {
    opacity: 0%;
    text-wrap: nowrap;
    transition: opacity 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside a.link span.link-text,
  .dashboard.is-open > aside .nav-label {
    opacity: 100%;  
  }

  .dashboard > aside .nav-label {    
    height: 0px;
    overflow: hidden;
    transition: height 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside .nav-label {
    height: 17px;
  }

  .dashboard > aside nav hr {
    opacity: 100%;
    transition: opacity 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  .dashboard.is-open > aside nav hr {
    opacity: 0%;  
  }

  .dashboard > aside nav .tooltip-wrapper:has(.link) .tooltip-content {
    display: flex;
  }
}
