aside.page-nav {
  @apply border-b flex overflow-x-auto overflow-y-visible w-screen;
}

aside.page-nav nav {
  @apply flex gap-8 p-4;
}

aside.page-nav nav .tooltip-wrapper:has(.link) .tooltip-content {
  display: none;
}


aside.page-nav .page-nav-handle {
  display: none;
}

@media (min-width: 768px) {
  aside.page-nav {
    flex: unset;
    position: relative;
    transition: width 150ms cubic-bezier(0.65, 0, 0.35, 1);
    width: 4.5rem;
    @apply border-b-0 border-r max-h-screen overflow-visible;
  }

  aside.page-nav.is-open {
    width: 18rem;
  }

  aside.page-nav nav {
    @apply flex-col gap-1 px-4 py-4 w-full;
  }

  aside.page-nav nav a.link span.link-text {
    opacity: 0%;
    text-wrap: nowrap;
    transition: opacity 150ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  aside.page-nav.is-open nav a.link span.link-text {
    opacity: 100%;    
  }

  aside.page-nav .page-nav-handle {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: -1rem;
    width: 1rem;
    transition: border-color 150ms cubic-bezier(0.65, 0, 0.35, 1);
    @apply border-l border-transparent h-full;
  }

   aside.page-nav .page-nav-handle .page-nav-handle-button {    
    left: -0.875rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 150ms cubic-bezier(0.65, 0, 0.35, 1);
    translate: 0 -50%;
    @apply border rounded-lg shadow-md p-1 bg-white dark:bg-dark-grey-300;
  }

  aside.page-nav .page-nav-handle:hover {
    @apply border-primary-600;
  }

  aside.page-nav .page-nav-handle:hover .page-nav-handle-button {
    opacity: 100%;
  }

  aside.page-nav nav .tooltip-wrapper:has(.link) .tooltip-content {
    display: flex;
  }
}
