---
env:
  DB_HOST: postgres
  DB_NAME: api
  DB_PASSWORD: password
  DB_SSL_MODE: disable
  DB_USE_IAM: false
  DB_USE_SSL: false
  GIT_REF: local
  GITHUB_APP_KEY: |
    TODO(jm): pull secrets from k8s
  DISABLE_METRICS: true
  TEMPORAL_NAMESPACE: default
  TEMPORAL_HOST: localhost:7233
port: 8080
type: api
