---
env:
  DB_HOST: postgres
  DB_NAME: api
  DB_PASSWORD: password
  DB_SSL_MODE: disable
  DB_USE_IAM: false
  DB_USE_SSL: false
  GIT_REF: local
  DISABLE_METRICS: true
  HTTP_PORT: 8080
env_secrets:
  GITHUB_APP_KEY:
    name: graphql-api-github-app-key
    key: github_app_key
local_env:
  DB_HOST: localhost
  GITHUB_APP_IP: !!string 261597
local_cmds:
  - "go run . worker builds"
  - "go run . worker apps"
  - "go run . worker installs"
  - "go run . worker orgs"
  - "go run . worker deploys"
  - "go run . server"
earthly_cmd: server
port: 8080
type: api
