---
environment: stage

env:
  ADMIN_API_URL: "http://ctl.nuon.us-west-2.stage.internal.nuon.co/"

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN

ui:
  alb:
    domain: $TFO_DOMAIN
    domain_certificate: $TFO_CERTIFICATE_ARN
