---
environment: stage

configmap:
  values:
    DB_HOST: $TFO_DB_INSTANCE_HOST
    DB_NAME: $TFO_DB_INSTANCE_NAME
    DB_USER: $TFO_DB_INSTANCE_USERNAME

    # templates for org IAM roles
    ORGS_DEPLOYMENTS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_DEPLOYMENTS_ACCESS
    ORGS_INSTALLATIONS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTALLATIONS_ACCESS
    ORGS_INSTALLER_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTALLER
    ORGS_INSTANCES_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_INSTANCES_ACCESS
    ORGS_ODR_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_ODR
    ORGS_ORGS_ROLE_TEMPLATE: $TFO_ORG_IAM_ROLE_NAME_TEMPLATES_ORGS_ACCESS


serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN

service:
  main:
    annotations:
      external-dns.alpha.kubernetes.io/internal-hostname: api.nuon.us-west-2.stage.nuon.cloud
