---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main
env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
permissions:
  contents: write
  id-token: write
  issues: read
  packages: read
  pull-requests: write
  statuses: write
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node
        uses: powertoolsdev/action-setup-node@main
      # PR title lint
      - name: Lint pull request title
        if: github.event_name == 'pull_request'
        uses: jef/conventional-commits-pr-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      # reviewdog
      - name: Lint
        if: always()
        uses: powertoolsdev/action-reviewdog@main
        with:
          terraform: false
          node: true
      - name: Update status
        uses: ouzi-dev/commit-status-updater@v2.0.1
        with:
          name: Required CI Checks
          status: success
