.status {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.2px;
  @apply flex items-center gap-1.5 shrink-0 grow-0 text-cool-grey-950 dark:text-white;
}

.status.badge {
  @apply border rounded-full px-2 py-0.5 w-fit;
}

.status .status-indicator {
  @apply flex items-center justify-center rounded-full w-1.5 h-1.5;
}

.status .status-indicator.neutral {
  @apply bg-cool-grey-600 dark:bg-white/70;
}

.status .status-indicator.success {
  @apply bg-green-600 dark:bg-green-500;
}

.status .status-indicator.error {
  @apply bg-red-600 dark:bg-red-500;
}

.status .status-indicator.warn {
  @apply bg-orange-600 dark:bg-orange-500;
}

.status .status-indicator.info {
  @apply bg-blue-600 dark:bg-blue-500;
}

.status .status-indicator.brand {
  @apply bg-primary-600 dark:bg-primary-400;
}

/* timeline status */

.status.timeline {
  
}

.status.timeline .status-text {
  display: none;
}

.status.timeline .status-indicator {
  height: 26px;
  width: 26px;
}

.status.timeline .status-indicator.neutral {
  @apply bg-cool-grey-200 dark:bg-cool-grey-800 dark:text-cool-grey-500;
}

.status.timeline .status-indicator.success {
  @apply bg-green-100 text-green-800 dark:bg-green-500/15 dark:text-green-500;
}

.status.timeline .status-indicator.error {
  @apply bg-red-100 text-red-800 dark:bg-red-500/15 dark:text-red-500;
}

.status.timeline .status-indicator.warn {
  @apply bg-orange-100 text-orange-800 dark:bg-orange-500/15 dark:text-orange-500;
}

.status.timeline .status-indicator.info {
  @apply bg-blue-100 text-blue-800 dark:bg-blue-500/15 dark:text-blue-500;
}

.status.timeline .status-indicator.brand {
  @apply bg-primary-200 text-primary-800 dark:bg-primary-500/15 dark:text-primary-500;
}
