---
name: Dependabot
"on":
  push:
    branches:
      - 'dependabot/**'

permissions:
  contents: write
  pull-requests: write
concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  dependabot:
    name: 'Dependabot'
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge for Dependabot PRs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: ${{ github.ref_name }}
          REPO: ${{ github.repository }}
        run: |
          gh pr merge \
            --auto \
            --squash \
            --delete-branch \
            --repo "$REPO" \
            "$BRANCH"
