---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: write
  id-token: write
  issues: read
  packages: write
  pull-requests: write
  statuses: write
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Calculate tf version
        shell: bash
        run: |
          ver=$(grep required_version versions.tf | awk -F ' = ' '{print $2}' | xargs echo)
          echo "TERRAFORM_VERSION=$ver" >> "$GITHUB_ENV"
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_KEY }}
          terraform_version: ${{ env.TERRAFORM_VERSION }}
      - name: Init terraform
        if: always()
        shell: bash
        run: |
          terraform init -backend=false
      # PR title lint
      - name: Lint pull request title
        if: github.event_name == 'pull_request'
        uses: jef/conventional-commits-pr-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      # reviewdog
      - name: Lint
        if: always()
        uses: powertoolsdev/action-reviewdog@main
        with:
          terraform_dir: .
      - name: Update status
        uses: ouzi-dev/commit-status-updater@v2.0.1
        with:
          name: Required CI Checks
          status: success
