@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --border-color-light: #dee3e7;
  --border-color-dark: #27252a;
  --gradient-brand-light: linear-gradient(
    88.14deg,
    #f9519d 7.25%,
    #6133ff 62.82%
  );
  --gradient-brand-dark: linear-gradient(
    88.14deg,
    #f72585 7.25%,
    #3a00ff 62.82%
  );
}

@media (prefers-color-scheme: light) {
  *,
  .prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  .prose :where(tbody tr):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  .prose :where(thead):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border-color: var(--border-color-light);
  }

  .timeline-event:before {
    border-left: 1px solid var(--border-color-light);
  }

  .dashboard_sidebar {
    background: linear-gradient(
      336deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(249, 249, 251, 1) 100%
    );
  }

  .dashboard_nav {
    background-image: url('../../public/light-sidebar-bg.svg');
  }

  .text-gradient {
    background: var(--gradient-brand-light);
  }

  @media (min-width: 1020px) {
    .landing-graphic {
      background-image: url('../../public/landing-graphic-light.svg');
    }
  }
}

@media (prefers-color-scheme: dark) {
  *,
  .prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  .prose :where(tbody tr):not(:where([class~="not-prose"], [class~="not-prose"] *)),
  .prose :where(thead):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border-color: var(--border-color-dark);
  }

  .timeline-event:before {
    border-left: 1px solid var(--border-color-dark);
  }

  .dashboard_sidebar {
    background: linear-gradient(
      336deg,
      rgba(13, 4, 22, 1) 0%,
      rgba(5, 1, 9, 1) 100%
    );
  }

  .dashboard_nav {
    background-image: url('../../public/sidebar-bg.svg');
  }

  .text-gradient {
    background: var(--gradient-brand-dark);
  }

  @media (min-width: 1020px) {
    .landing-graphic {
      background-image: url('../../public/landing-graphic.svg');
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard_sidebar,
.dashboard_nav {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard_content {
  background-image: url('../../public/dashboard-bg.svg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.history {
  max-height: calc(100vh - 200px);
}

.timeline {
}

.timeline-event {
  position: relative;
}

.timeline-event:before {
  content: '';
  height: calc(100% - 1.25rem);
  left: 1.26rem;
  position: absolute;
  width: 1px;
  top: 2.4rem;
}

.timeline-event:last-of-type:before {
  display: none;
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1020px) {
  .landing-gradient {
    background-image: url('../../public/dashboard-bg.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: local;
  }

  .landing-graphic {
    background-repeat: no-repeat;
    background-position: top -2rem right;
    background-attachment: local;
  }

  .landing-toml {
    background-image: url('../../public/landing-actions-toml.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
}

@media (min-width: 1200px) {
  .landing-graphic {
    background-repeat: no-repeat;
    background-position: top -2rem right 8rem;
    background-attachment: local;
  }
}

.on-enter {
  animation: enter 100ms ease-in-out forwards;
  opacity: 0;
}

.on-enter.enter-left {
  transform: translateX(-1rem);
  transform-origin: top center;
}

.on-enter.enter-right {
  transform: translateX(1rem);
  transform-origin: top center;
}

.on-enter.enter-top {
  transform: translateY(-1rem);
  transform-origin: top center;
}

.on-enter.enter-bottom {
  transform: translateY(1rem);
  transform-origin: top center;
}

@keyframes enter {
  100% {
    opacity: 1;
    transform: none;
  }
}

.tooltip {
  display: inline-block;
  position: relative;
  width: fit-content;
  z-index:10;
}

.tooltip .tooltip-wrapper {
  display: none;
  height: max-content;
  position: absolute;
  width: max-content;
  z-index:10;
}

.tooltip:hover .tooltip-wrapper {
  display: block;
}

.tooltip .tooltip-wrapper.top {
  padding-bottom: 0.5rem;
}

.tooltip:hover .tooltip-wrapper.top {
  top: 0;
  transform: translateY(-100%);
}

.tooltip .tooltip-wrapper.bottom {
  padding-top: 0.5rem;
}

.tooltip:hover .tooltip-wrapper.bottom {
  bottom: 0;
  transform: translateY(100%);
}

.tooltip:hover .tooltip-wrapper.right {
  right: 0;
}

.tooltip:hover .tooltip-wrapper.left {
  left: 0;
}

.tooltip:hover .tooltip-wrapper.center {
  left: 50%;
}

.tooltip:hover .tooltip-wrapper.center.top {
  transform: translate(-50%, -100%);
}

.heartbeat-item-parent,
.heartbeat-item-parent .heartbeat-item {
  transition: 100ms ease-in-out;
}

.heartbeat-item-parent:hover .heartbeat-item {
  transform: scaleY(130%);
}

.heartbeat-item-parent:has(+ .heartbeat-item-parent:hover) {
  transform: scaleY(115%);
}

.heartbeat-item-parent:hover + .heartbeat-item-parent .heartbeat-item {
  transform: scaleY(115%);
}

.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  width: fit-content;
}
