@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  * {
    border-color: rgba(0, 0, 0, 0.1);
  }

  .dashboard_sidebar {
    background:  linear-gradient(336deg, rgba(255,255,255,1) 0%, rgba(249,249,251,1) 100%);
  }

   .dashboard_nav {
    background-image:  url('../../public/light-sidebar-bg.svg');
  }
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: rgba(255, 255, 255, 0.08);
  }

  .dashboard_sidebar {
    background: linear-gradient(336deg, rgba(13,4,22,1) 0%, rgba(5,1,9,1) 100%);
  }

  .dashboard_nav {
    background-image:  url('../../public/sidebar-bg.svg');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard_sidebar,
.dashboard_nav {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard_content {
  background-image:  url('../../public/dashboard-bg.svg');
  background-repeat: no-repeat;
  overflow: hidden;
}
