@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  * {
    border-color: #e5e7eb;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: #1f2937;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
