@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color-light: #DEE3E7;
  --border-color-dark: #27252A;
}

@media (prefers-color-scheme: light) {
  * {
    border-color: var(--border-color-light);
  }  

  .timeline-event:before {
    border-left: 1px solid var(--border-color-light);
  }

  .dashboard_sidebar {
    background:  linear-gradient(336deg, rgba(255,255,255,1) 0%, rgba(249,249,251,1) 100%);
  }

   .dashboard_nav {
    background-image:  url('../../public/light-sidebar-bg.svg');
  }
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: var(--border-color-dark);
  }

  .timeline-event:before {
    border-left: 1px solid var(--border-color-dark);
  }

  .dashboard_sidebar {
    background: linear-gradient(336deg, rgba(13,4,22,1) 0%, rgba(5,1,9,1) 100%);
  }

  .dashboard_nav {
    background-image:  url('../../public/sidebar-bg.svg');
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard_sidebar,
.dashboard_nav {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard_content {
  background-image:  url('../../public/dashboard-bg.svg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.history {  
  max-height: calc(100vh - 200px);
}

.timeline {
  
}

.timeline-event {
  position: relative;
}

.timeline-event:before {  
  content: "";
  height: calc(100% - 1.25rem);
  left: 1.26rem;
  position: absolute;
  width: 1px;
  top: 2.4rem;
}

.timeline-event:last-of-type:before {  
  display: none;
}
