@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  * {
    border-color: rgba(0, 0, 0, 0.1);
  }

  .dashboard_sidebar {
    background-image:  url('../../public/light-sidebar-bg.svg'), linear-gradient(172.2deg, #FFFFFF, #f9f9fb);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: rgba(255, 255, 255, 0.08);
  }

  .dashboard_sidebar {
    background-image:  url('../../public/sidebar-bg.svg'), linear-gradient(172.2deg, #0D0416 0%, #050109 99.36%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard_sidebar {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard_content {
  overflow: hidden;
}
