name: auto update
"on":
  pull_request:
    types:
      - opened
  push:
    branches:
      - main

jobs:
  update-prs:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: update prs
        uses: brainly/action-autoupdate-branch@2.1.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          label: auto-update

      - name: update dependabot prs
        uses: brainly/action-autoupdate-branch@2.1.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          label: dependencies

  add-label:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: add label
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: auto-update
