---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  ci:
    name: CI
    uses: powertoolsdev/.github/.github/workflows/go-ci.yml@main
    secrets: inherit
