---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  issues: read
  packages: write
  pull-requests: write
  statuses: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  lint-protos:
    strategy:
      matrix:
        repo: [api, components, deployments, workflows]
    name: Lint protos
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: powertoolsdev/action-app-token@main
        with:
          app_id: ${{ secrets.CROSS_REPO_APP_ID }}
          installation_id: ${{ secrets.CROSS_REPO_INSTALLATION_ID }}
          private_key: ${{ secrets.CROSS_REPO_PRIV_KEY }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup for CI
        uses: powertoolsdev/action-setup-ci@main
        with:
          tfcloud_token: ${{ secrets.TF_API_KEY }}
          clone_token: ${{ steps.generate_token.outputs.token }}

      - name: Lint
        run: |
          earthly \
            ${{ env.EARTHLY_EXTRA_ARGS }} \
            --remote-cache=ghcr.io/${{ github.repository }}:lint \
            +lint-proto \
            --REPO=${{matrix.repo}} \

  release-protos:
    name: Release protos
    if: github.event_name != 'pull_request'
    strategy:
      matrix:
        repo: [api, components, deployments, workflows]
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: powertoolsdev/action-app-token@main
        with:
          app_id: ${{ secrets.CROSS_REPO_APP_ID }}
          installation_id: ${{ secrets.CROSS_REPO_INSTALLATION_ID }}
          private_key: ${{ secrets.CROSS_REPO_PRIV_KEY }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup for CI
        uses: powertoolsdev/action-setup-ci@main
        with:
          tfcloud_token: ${{ secrets.TF_API_KEY }}
          clone_token: ${{ steps.generate_token.outputs.token }}

      - name: Push protos
        run: |
          earthly \
            ${{ env.EARTHLY_EXTRA_ARGS }} \
            --remote-cache=ghcr.io/${{ github.repository }}:protos \
            +push-proto \
            --REPO=${{matrix.repo}} \

  release:
    name: Release
    needs:
      - release-protos
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Determine next version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          patchAll: true
      - name: Push tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ steps.semver.outputs.nextStrict }}

  update_status:
    name: Update status
    needs:
      - lint-protos
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - name: Update status
        uses: ouzi-dev/commit-status-updater@v2.0.1
        with:
          name: Required CI Checks
          status: success
