---
name: Deploy
"on":
  workflow_call:
    inputs:
      env:
        type: string
        required: true
      tag:
        type: string
        required: true

  workflow_dispatch:
    inputs:
      env:
        type: string
        required: true
      tag:
        type: string
        required: true

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      TF_WORKSPACE: ${{ inputs.env }}
      TF_OUT: ${{ github.workspace }}/tf-out.json
    environment: ${{ inputs.env }}
    steps:
      - name: Generate token
        id: generate_token
        uses: powertoolsdev/action-app-token@main
        with:
          app_id: ${{ secrets.CROSS_REPO_APP_ID }}
          installation_id: ${{ secrets.CROSS_REPO_INSTALLATION_ID }}
          private_key: ${{ secrets.CROSS_REPO_PRIV_KEY }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_KEY }}

      - name: Init terraform
        working-directory: infra
        run: |
          terraform init

      - name: Get terraform outputs
        working-directory: infra
        run: |
          terraform-bin output -json > ${{ env.TF_OUT }}

      - name: Parse terraform outputs
        uses: powertoolsdev/action-tf-output@main
        with:
          file: ${{ env.TF_OUT }}

      - name: Setup for CI
        uses: powertoolsdev/action-setup-ci@main
        with:
          tfcloud_token: ${{ secrets.TF_API_KEY }}
          clone_token: ${{ steps.generate_token.outputs.token }}
          aws_role: ${{ env.TFO_GH_ROLE_ARN }}
          aws_region: ${{ env.TFO_REGION }}

      - name: Configure env
        run: |
          tag=${{ inputs.tag }}
          {
            echo "IMAGE_TAG=$tag"
            echo "HELM_CHART_VERSION=${tag#v}"
          } >> "$GITHUB_ENV"
          printenv | grep "TFO_" >> .tfenv

      - name: Deploy to kubernetes
        run: |
          earthly \
            ${{ env.EARTHLY_EXTRA_ARGS }} \
            +deploy \
            --repos=nuon=${{ env.TFO_NUON_CHARTS }} \
            --env=${{ inputs.env }} \
            --cluster_name=${{ env.TFO_CLUSTER_NAME }} \
            --role_arn=${{ env.TFO_CLUSTER_GH_ROLE_ARN }} \
            --chart_version=${{ env.HELM_CHART_VERSION }} \
            --repository=${{ env.TFO_ECR_REPOSITORY_URL }} \
            --image_tag=${{ env.IMAGE_TAG }} \
