---
name: promote_success
"on":
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
    outputs: {}

defaults:
  run:
    shell: bash

jobs:
  # trigger_promotion_callback:
  #   name: trigger promotion callback
  #   uses: ./.github/workflows/internal_api.yml
  #   with:
  #     env: prod
  #     endpoint: /v1/general/promotion
  #     method: POST
  #     data: '{"tag": "${{ inputs.tag }}" }'
  #   secrets: inherit
  sdks:
    name: Update SDKs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Elixir
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.NUON_BOT_GITHUB_TOKEN }}
          repository: nuonco/nuon-elixir
          event-type: generate
      - name: Python
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.NUON_BOT_GITHUB_TOKEN }}
          repository: nuonco/nuon-python
          event-type: generate
  homebrew_tap:
    name: Update Homebrew Tap
    runs-on: ubuntu-latest
    steps:
      - name: Call nuonco/homebrew-tap generate workflow
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.NUON_BOT_GITHUB_TOKEN }}
          repository: nuonco/homebrew-tap
          event-type: generate
          client-payload: '{"version": "${{ inputs.tag }}" }'
  byoc:
    name: Update BYOC App Config
    runs-on: ubuntu-latest
    steps:
      - name: Call nuonco/byoc update_images workflow
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.NUON_BOT_GITHUB_TOKEN }}
          repository: nuonco/byoc
          event-type: update_images
          client-payload: '{"version": "${{ inputs.tag }}" }'
