---
name: required-pr
"on":
  pull_request:
    types: [opened, synchronize]
permissions:
  contents: read
  pull-requests: write
  statuses: write
concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true
jobs:
  check-pr:
    runs-on: ubuntu-latest
    name: Run PR checks
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run lints
        uses: powertoolsdev/action-pr-checks@main
