---
name: sandbox
"on":
  workflow_call:
    inputs:
      sandbox:
        type: string
        required: true
      tag:
        type: string
        required: true
      publish:
        type: boolean
        required: true
      env:
        type: string
    outputs: {}

permissions:
  contents: write
  id-token: write
  issues: read
  packages: write
  pull-requests: write

jobs:
  validate:
    name: Validate sandbox
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: Init terraform
        if: always()
        shell: bash
        working-directory: sandboxes/${{inputs.sandbox }}
        run: |
          terraform init -backend=false

  release:
    name: Release
    needs:
      - validate
    if: ${{ inputs.publish }}
    env:
      TF_OUT: ${{ github.workspace }}/tf-out.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_KEY }}

      - name: Get terraform outputs
        shell: bash
        working-directory: infra/sandboxes
        run: |
          terraform init
          terraform-bin output -json > ${{ env.TF_OUT }}

      - name: Parse output
        uses: powertoolsdev/action-tf-output@main
        with:
          file: ${{ env.TF_OUT }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ env.TFO_GH_ROLE_ARN }}
          aws-region: ${{ env.TFO_REGION }}

      - name: Create artifact
        uses: a7ul/tar-action@v1.1.3
        with:
          command: c
          cwd: sandboxes/${{ inputs.sandbox }}
          files: |
            .
          outPath: /tmp/sandbox.tar.gz

      - name: Push artifact to s3
        run: >-
          aws
          s3
          cp
          /tmp/sandbox.tar.gz
          ${{ env.TFO_SANDBOXES_URL }}/${{ inputs.sandbox }}_${{ inputs.tag }}.tar.gz

      - name: Update slack
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_MESSAGE: "Successfully released *sandbox-${{ inputs.sandbox }}* :white_check_mark: - `${{inputs.tag}}`"
          SLACK_TITLE: "Sandbox release :airplane:"
          SLACK_USERNAME: "Deploys"
          SLACK_ICON: "[icon URL]"
          SLACK_COLOR: "#228B22"
          SLACK_WEBHOOK: ${{ secrets.STAGE_DEPLOYS_SLACK_WEBHOOK_URL }}
          MSG_MINIMAL: true

  publish:
    name: Publish
    needs:
      - release
    if: ${{ inputs.publish }}
    uses: ./.github/workflows/internal_api.yml
    with:
      env: ${{ inputs.env }}
      endpoint: /v1/sandboxes/${{ inputs.sandbox }}/release
      method: POST
      data: '{"version":"${{ inputs.tag }}","terraform_version":"v1.5.3"}'
    secrets: inherit
