---
name: Deploy
"on":
  workflow_call:
    inputs:
      env:
        type: string
        required: true
      tag:
        type: string
        required: true
      service:
        type: string
        required: true

  workflow_dispatch:
    inputs:
      env:
        type: string
        required: true
      tag:
        type: string
        required: true

concurrency: ${{inputs.service}}-${{inputs.env}}

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      TF_WORKSPACE: ${{ inputs.env }}
      TF_OUT: ${{ github.workspace }}/tf-out.json
    environment: ${{ inputs.env }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_KEY }}

      - name: Init terraform
        working-directory: services/${{inputs.service}}/infra
        run: |
          terraform init

      - name: Get terraform outputs
        working-directory: services/${{inputs.service}}/infra
        run: |
          terraform-bin output -json > ${{ env.TF_OUT }}

      - name: Parse terraform outputs
        uses: powertoolsdev/mono/actions/tf-output@main
        with:
          file: ${{ env.TF_OUT }}

      - name: Setup for CI
        uses: powertoolsdev/mono/actions/setup-ci@main
        with:
          tfcloud_token: ${{ secrets.TF_API_KEY }}
          aws_role: ${{ env.TFO_GH_ROLE_ARN }}
          aws_region: ${{ env.TFO_REGION }}

      - name: Configure env
        working-directory: services/${{inputs.service}}/k8s
        run: |
          printenv | grep "TFO_" >> .tfenv

      - name: Deploy to kubernetes
        working-directory: services/${{inputs.service}}/k8s
        run: |
          earthly \
            ${{ env.EARTHLY_EXTRA_ARGS }} \
            --push \
            +deploy \
            --repos=nuon=${{ env.TFO_NUON_CHARTS }} \
            --env=${{ inputs.env }} \
            --cluster_name=${{ env.TFO_CLUSTER_NAME }} \
            --role_arn=${{ env.TFO_CLUSTER_GH_ROLE_ARN }} \
            --chart_name=${{ inputs.service }} \
            --chart_version=v0.0.1-${{ inputs.tag }} \
            --repository=${{ env.TFO_ECR_REPOSITORY_URL }} \
            --image_tag=${{ inputs.tag }} \

      - name: Datadog
        uses: masci/datadog@v1.5.0
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          api-url: "https://us5.datadoghq.com"
          events: |
            - title: "deployed ${{ inputs.service}} to ${{ inputs.env }} `${{inputs.tag}}`"
              text: "deployed ${{ inputs.service}} to ${{ inputs.env }} `${{inputs.tag}}`"
              alert_type: "info"
              tags:
                - "service:${{inputs.service}}"
                - "env:${{inputs.env}}"
                - "project:${{ github.repository }}"
                - "git_ref:${{ inputs.tag }}"
                - "github_actions:successful_deploy"
