---
name: Release
"on":
  workflow_call:
    inputs:
      service:
        type: string
        required: true
      tag:
        type: string
        required: true
    outputs:
      image_tag:
        description: "image tag"
        value: ${{ jobs.release.outputs.image_tag }}

defaults:
  run:
    shell: bash

jobs:
  release:
    name: Release
    runs-on: mono
    permissions:
      contents: read
      packages: write
      id-token: write
    outputs:
      image_tag: ${{ inputs.tag }}
    timeout-minutes: 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup nuonctl 
        uses: powertoolsdev/mono/actions/setup-nuonctl@jm/nuonctl-commands

      - name: Build
        working-directory: services/${{inputs.service}}
        run: |
          CI=true nuonctl builds release --name=${{inputs.service}} --tag=${{inputs.tag}}
