type = "maintenance"
name = "{{.nuon.install.id}}-maintenance"
description = "maintenance"
display_name = "maintenance"
permissions_boundary = ""

[[policies]]
managed_policy_name = "AdministratorAccess"

[[policies]]
name = "remove-secrets-manager"
contents = """
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenySecretsManagerAccess",
            "Effect": "Deny",
            "Action": [
                "secretsmanager:*"
            ],
            "Resource": "*"
        }
    ]
}
"""
