---
type: binary
env:
  # defaults
  GIT_REF: local

  RUNNER_API_URL: http://localhost:8083
  SETTINGS_REFRESH_TIMEOUT: 1m

  RUNNER_API_TOKEN: <REPLACE-ME>
  RUNNER_ID: <REPLACE-ME>
watch_ignore_dirs: []

local_only: true
local_startup_cmds:
  - go generate ./...
local_build_cmds:
  - go build -o /tmp/runner
local_cmds:
  - /tmp/runner run
