---
type: binary
env:
  # defaults
  GIT_REF: local

  RUNNER_API_URL: http://localhost:8083

  # NOTE: by default, run-local will fetch the first runner from the api and set these for you.
  # 
  # However, if you are working with the runner and testing jobs, you probably want to fetch the runner-id and set it 
  # yourself, so you can use a runner for a specific org or install.
  # RUNNER_ID: <REPLACE-ME>
  BUNDLE_DIR: "./bundle"

  # enable the log level debug for outputting more information locally for the system logger.
  #
  # NOTE(jm): this will not enable all debug output, as the logs are also controlled via the api but for things like 
  # metrics this is useful.
  # LOG_LEVEL: DEBUG


watch_ignore_dirs: []

# uncomment the following line if you would like to test a runner in the context of an install
# custom_credentials_iam_role: arn:aws:iam::949309607565:role/nuon-runner-dev

# commands for local dev
local_only: true
local_startup_cmds:
  - go generate ./...
local_build_cmds:
  - go build -o /tmp/runner
local_cmds:
  - /tmp/runner run-local
