---
type: binary
env:
  # defaults
  GIT_REF: local

  RUNNER_API_URL: http://localhost:8083
  RUNNER_API_TOKEN: tokmi4sy56krxqp7utqbhph60a
  RUNNER_ID: runu4hdnoto1w7j17df2kshcye
  SETTINGS_REFRESH_TIMEOUT: 1m
watch_ignore_dirs: []

local_only: true
local_startup_cmds:
  - go generate ./...
local_build_cmds:
  - go build -o /tmp/runner
local_cmds:
  - /tmp/runner run
