---
type: binary
env:
  # defaults
  GIT_REF: local

  RUNNER_API_URL: http://localhost:8083
  SETTINGS_REFRESH_TIMEOUT: 1m

  # NOTE: by default, run-local will fetch the first runner from the api and set these for you.
  # 
  # However, if you are working with the runner and testing jobs, you probably want to fetch the runner-id and set it 
  # yourself, so you can use a runner for a specific org or install.
  # RUNNER_ID: <REPLACE-ME>

  RUNNER_ENABLE_LOCAL: "true"

  BUNDLE_DIR: "./bundle"

watch_ignore_dirs: []

local_only: true
local_startup_cmds:
  - go generate ./...
local_build_cmds:
  - go build -o /tmp/runner
local_cmds:
  - /tmp/runner run-local
